fluxo-n8n/(OK) MARCIO - ATUALIZA MENU DE FAQ.json
{
  "name": "(OK) MARCIO - ATUALIZA MENU DE FAQ",
  "nodes": [
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1MEjtXSQG_5yBgBMaYMjl71H6wnH79RjLpwDByQF_fr0",
          "mode": "list",
          "cachedResultName": "HOTEIS RESERVA",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1MEjtXSQG_5yBgBMaYMjl71H6wnH79RjLpwDByQF_fr0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 826782235,
          "mode": "list",
          "cachedResultName": "MENU FAQ",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1MEjtXSQG_5yBgBMaYMjl71H6wnH79RjLpwDByQF_fr0/edit#gid=826782235"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -96,
        0
      ],
      "id": "8a89e5bf-1c73-4f0e-ac99-ff1e30636d27",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "oFG5YEA8OHQqWcpH",
          "name": "RAFAEL - SHEETS"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -288,
        -368
      ],
      "id": "24259150-3de4-42f7-821a-1ce4f5f8736c",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "operation": "deleteTable",
        "table": {
          "__rl": true,
          "value": "faq_perguntas",
          "mode": "list",
          "cachedResultName": "faq_perguntas"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.5,
      "position": [
        -304,
        0
      ],
      "id": "650cad08-0f18-4232-b80a-2d92ccce9ce0",
      "name": "Delete table or rows",
      "credentials": {
        "mySql": {
          "id": "A112kZvtWASH5sMG",
          "name": "MARCIO_HOTEL"
        }
      }
    },
    {
      "parameters": {
        "table": {
          "__rl": true,
          "value": "faq_perguntas",
          "mode": "list",
          "cachedResultName": "faq_perguntas"
        },
        "dataMode": "defineBelow",
        "valuesToSend": {
          "values": [
            {
              "column": "unidade",
              "value": "={{ $json.unidade }}"
            },
            {
              "column": "pergunta_id",
              "value": "={{ $json.pergunta_id }}"
            },
            {
              "column": "titulo",
              "value": "={{ $json.titulo }}"
            },
            {
              "column": "resposta",
              "value": "={{ $json.resposta }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.5,
      "position": [
        144,
        0
      ],
      "id": "53525b06-dbd4-4cf0-9b03-635efe85d041",
      "name": "Insert rows in a table",
      "credentials": {
        "mySql": {
          "id": "A112kZvtWASH5sMG",
          "name": "MARCIO_HOTEL"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -576,
        0
      ],
      "id": "ca2494f8-8a06-4cbf-923a-7821b9859903",
      "name": "Schedule Trigger"
    }
  ],
  "pinData": {},
  "connections": {
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Insert rows in a table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        []
      ]
    },
    "Delete table or rows": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Delete table or rows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "bcea533d-8039-4b8e-902e-6d7ad1495bcb",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "33032ef6031266b8bc0d76b06793a6cdb5fab704b174a9882769b60050692f00"
  },
  "id": "K4uf7uybQSmq9rcl",
  "tags": []
}