fluxo-n8n/MARCIO ATT TABELA DE CARROSSEL.json
{
  "name": "MARCIO ATT TABELA DE CARROSSEL",
  "nodes": [
    {
      "parameters": {
        "table": {
          "__rl": true,
          "value": "carroseis_individuais",
          "mode": "list",
          "cachedResultName": "carroseis_individuais"
        },
        "dataMode": "defineBelow",
        "valuesToSend": {
          "values": [
            {
              "column": "Unidade",
              "value": "={{ $json.Unidade }}"
            },
            {
              "column": "Categoria",
              "value": "={{ $json.Categoria }}"
            },
            {
              "column": "Nome Exibição",
              "value": "={{ $json['Nome Exibição'] }}"
            },
            {
              "column": "Foto_1",
              "value": "={{ $json.Foto_1 }}"
            },
            {
              "column": "Foto_2",
              "value": "={{ $json.Foto_2 }}"
            },
            {
              "column": "Foto_3",
              "value": "={{ $json.Foto_3 }}"
            },
            {
              "column": "Foto_4",
              "value": "={{ $json.Foto_4 }}"
            },
            {
              "column": "Foto_5",
              "value": "={{ $json.Foto_5 }}"
            },
            {
              "column": "Foto_6",
              "value": "={{ $json.Foto_6 }}"
            },
            {
              "column": "Foto_7",
              "value": "={{ $json.Foto_7 }}"
            },
            {
              "column": "Foto_8",
              "value": "={{ $json.Foto_8 }}"
            },
            {
              "column": "Link_Reserva",
              "value": "={{ $json.Link_Reserva }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        320,
        -128
      ],
      "id": "bc44d9a3-ef64-47e1-a568-6fa539ff97fd",
      "name": "MySQL4",
      "credentials": {
        "mySql": {
          "id": "A112kZvtWASH5sMG",
          "name": "MARCIO_HOTEL"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1MEjtXSQG_5yBgBMaYMjl71H6wnH79RjLpwDByQF_fr0/edit?gid=799413972#gid=799413972",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1MEjtXSQG_5yBgBMaYMjl71H6wnH79RjLpwDByQF_fr0/edit?gid=799413972#gid=799413972",
          "mode": "url"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        112,
        -128
      ],
      "id": "c2dffb2e-9503-4f07-80a3-d2d780b6854d",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "oFG5YEA8OHQqWcpH",
          "name": "RAFAEL - SHEETS"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -256,
        32
      ],
      "id": "1c9871a4-54d9-4faa-875e-f89e9b880a48",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "operation": "deleteTable",
        "table": {
          "__rl": true,
          "value": "carroseis_individuais",
          "mode": "list",
          "cachedResultName": "carroseis_individuais"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        -64,
        -128
      ],
      "id": "0954df99-6e06-45e5-896a-f767836906b1",
      "name": "MySQL1",
      "credentials": {
        "mySql": {
          "id": "A112kZvtWASH5sMG",
          "name": "MARCIO_HOTEL"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1MEjtXSQG_5yBgBMaYMjl71H6wnH79RjLpwDByQF_fr0/edit?gid=799413972#gid=799413972",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "QUARTOS",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1MEjtXSQG_5yBgBMaYMjl71H6wnH79RjLpwDByQF_fr0/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        112,
        144
      ],
      "id": "c6ea7690-f633-4632-80b9-172efa4e0b28",
      "name": "Get row(s) in sheet1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "oFG5YEA8OHQqWcpH",
          "name": "RAFAEL - SHEETS"
        }
      }
    },
    {
      "parameters": {
        "table": {
          "__rl": true,
          "value": "QUARTOS_GERAL",
          "mode": "list",
          "cachedResultName": "QUARTOS_GERAL"
        },
        "dataMode": "defineBelow",
        "valuesToSend": {
          "values": [
            {
              "column": "Unidade",
              "value": "={{ $json.Unidade }}"
            },
            {
              "column": "Categoria",
              "value": "={{ $json.Categoria }}"
            },
            {
              "column": "Tipo",
              "value": "={{ $json.Tipo }}"
            },
            {
              "column": "Capacidade",
              "value": "={{ $json.Capacidade }}"
            },
            {
              "column": "sobreCafe",
              "value": "={{ $json['Tem Café?'] }}"
            },
            {
              "column": "checkIn",
              "value": "={{ $json['Check-in/Check-out'] .split('/')[0]}}"
            },
            {
              "column": "checkOut",
              "value": "={{ $json['Check-in/Check-out'] .split('/')[1]}}"
            },
            {
              "column": "PetFriendly",
              "value": "={{ $json.Petfriendly }}"
            },
            {
              "column": "Descrição",
              "value": "={{ $json['Descrição'] }}"
            },
            {
              "column": "configuracaoCamas",
              "value": "={{ $json['Configuração de camas'] }}"
            },
            {
              "column": "quartoParaFumantes",
              "value": "={{ $json['Quarto para fumantes'] }}"
            },
            {
              "column": "linkImage",
              "value": "={{ $json.Foto }}"
            },
            {
              "column": "linkReserva",
              "value": "={{ $json['Link Reserva'] }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        320,
        144
      ],
      "id": "3e092fee-7ae0-4f7c-a5a0-cf2aa92b3f4c",
      "name": "ADD GERAL",
      "credentials": {
        "mySql": {
          "id": "A112kZvtWASH5sMG",
          "name": "MARCIO_HOTEL"
        }
      }
    },
    {
      "parameters": {
        "operation": "deleteTable",
        "table": {
          "__rl": true,
          "value": "QUARTOS_GERAL",
          "mode": "list",
          "cachedResultName": "QUARTOS_GERAL"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        -64,
        144
      ],
      "id": "accbc8d6-7d6c-45c8-9cb0-5edd077d7466",
      "name": "Delete table or rows",
      "credentials": {
        "mySql": {
          "id": "A112kZvtWASH5sMG",
          "name": "MARCIO_HOTEL"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1MEjtXSQG_5yBgBMaYMjl71H6wnH79RjLpwDByQF_fr0/edit?gid=799413972#gid=799413972",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": 826782235,
          "mode": "list",
          "cachedResultName": "MENU FAQ",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1MEjtXSQG_5yBgBMaYMjl71H6wnH79RjLpwDByQF_fr0/edit#gid=826782235"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        160,
        608
      ],
      "id": "5274a55f-bb53-4db1-b58c-4a9a0b9a5bf1",
      "name": "Get row(s) in sheet2",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "oFG5YEA8OHQqWcpH",
          "name": "RAFAEL - SHEETS"
        }
      }
    },
    {
      "parameters": {
        "operation": "deleteTable",
        "table": {
          "__rl": true,
          "value": "faq_perguntas",
          "mode": "list",
          "cachedResultName": "faq_perguntas"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        -32,
        608
      ],
      "id": "65087ab8-1688-4ccc-a725-79752c1f5e2a",
      "name": "Delete table or rows1",
      "credentials": {
        "mySql": {
          "id": "A112kZvtWASH5sMG",
          "name": "MARCIO_HOTEL"
        }
      }
    },
    {
      "parameters": {
        "table": {
          "__rl": true,
          "value": "faq_perguntas",
          "mode": "list",
          "cachedResultName": "faq_perguntas"
        },
        "dataMode": "defineBelow",
        "valuesToSend": {
          "values": [
            {
              "column": "unidade",
              "value": "={{ $json.unidade }}"
            },
            {
              "column": "pergunta_id",
              "value": "={{ $json.pergunta_id }}"
            },
            {
              "column": "titulo",
              "value": "={{ $json.titulo }}"
            },
            {
              "column": "resposta",
              "value": "={{ $json.resposta }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        368,
        608
      ],
      "id": "8d9a9e6a-b97f-485e-9f94-8b811a5d0f3b",
      "name": "Insert rows in a table",
      "credentials": {
        "mySql": {
          "id": "A112kZvtWASH5sMG",
          "name": "MARCIO_HOTEL"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -240,
        608
      ],
      "id": "4988b06d-eabe-4473-9f89-be90cc3bd9f7",
      "name": "Schedule Trigger"
    }
  ],
  "pinData": {},
  "connections": {
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "MySQL4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "MySQL1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Delete table or rows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MySQL1": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet1": {
      "main": [
        [
          {
            "node": "ADD GERAL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete table or rows": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet2": {
      "main": [
        [
          {
            "node": "Insert rows in a table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete table or rows1": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Delete table or rows1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "5ffa94a0-afb4-4645-bb6d-d48a8d198fec",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "33032ef6031266b8bc0d76b06793a6cdb5fab704b174a9882769b60050692f00"
  },
  "id": "ouE7HhLl3mUQ8Tsa",
  "tags": []
}