fluxo-n8n-hoteis-reserva/EXT - MARCIO IA COMERCIAL.json
{
  "name": "EXT - MARCIO IA COMERCIAL",
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "id": "e05c78dd-ae5d-4364-a304-8217ef29148d",
      "typeVersion": 1.1,
      "name": "Webhook",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [
        368,
        -192
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "70e89315-c68f-4d0b-9802-2aa4d6ce34d7",
              "leftValue": "={{ $json.linkImage }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2784,
        -256
      ],
      "id": "0f9c3a91-d26e-40c0-a80b-311281d18304",
      "name": "POSSUI FOTO?"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('CREDECIAMENTO').first().json.urlSemBarraFinal }}/send-carousel",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Client-Token",
              "value": "={{ $('CREDECIAMENTO').first().json.token }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.body }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3456,
        -256
      ],
      "id": "6c5ea072-0828-4653-b3a6-d12cbe77e4f7",
      "name": "ENVIA CARROSSEL"
    },
    {
      "parameters": {
        "fieldToSplitOut": "Tipo, Categoria, linkImage",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        3008,
        -256
      ],
      "id": "8dfce629-692e-4fbe-81ae-8c6c667d68f8",
      "name": "Split Out"
    },
    {
      "parameters": {
        "jsCode": "// Acessa o número vindo do node Webhook\nconst phone = $items(\"Webhook\")[0].json.body.phone;\n\n// Pega no máximo 10 suítes\nconst suites = items.slice(0, 10);\n\n// Monta o carrossel com 2 botões por item\nconst carousel = suites.map(({ json }) => {\n  const nome = `${(json.Tipo || '').trim()} ${(json.Categoria || '').trim()}`.trim();\n  const linkImage = json.linkImage || '';\n  const id = nome\n    .toLowerCase()\n    .normalize(\"NFD\").replace(/[\\u0300-\\u036f]/g, \"\")\n    .replace(/\\s+/g, '_')\n    .replace(/[^\\w_]/g, '') || 'detalhes';\n\n  return {\n    text: `🏡 *${nome}*`,\n    image: linkImage,\n    buttons: [\n      {\n        id,\n        label: \"Ver Detalhes 🛏️\",\n        type: \"REPLY\"\n      },\n      {\n        id: \"menu_inicial\",\n        label: \"Voltar ao Menu 🔙\",\n        type: \"REPLY\"\n      }\n    ]\n  };\n});\n\n// Payload final\nconst payload = {\n  phone,\n  message: \"Confira as acomodações disponíveis: 🌄✨\",\n  carousel\n};\n\n// Retorno único\nreturn [\n  {\n    json: {\n      body: JSON.stringify(payload)\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3232,
        -256
      ],
      "id": "393e4d01-979c-4a65-b7ce-bf9b863c1cf0",
      "name": "Code"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.messages }}",
        "options": {
          "systemMessage": "=CASO O CLIENTE NÃO FALE O ANO DA VIAGEM, VOCÊ DEVE LEVAR EM CONSIDERAÇÃO A DATA ATUAL, PARA VER SE ELE ESTÁ SE REFERINDO DESSE ANO AINDA, OU DO PROXIMO (NUNCA OFERECER ALGUMA DATA QUE JA PASSOU)\n\nCASO O CLIENTE PEDIR PARA FALAR COM HUMANO / ATENDENTE, VOCÊ ALÉM DE NOTIFICAR O ATENDENTE PRECISA ENVIAR PARA ELE O LINK: https://wa.me/5511973178256\n<hoje>\nHoje é {{ $now.setLocale('pt').weekdayLong }}.\ndia = {{ $now.format('dd/MM/yyyy - HH:mm') }}\n<\\hoje>\n\n<identidade>\nVocê é a EVA, a assistente Smart Hoteis oficial da Rede de Smart Hotéis Reserva.\nVocê é uma IA conversacional 24/7 treinada para atender clientes no WhatsApp.\nAtua com simpatia e agilidade, oferecendo suporte sobre hospedagens, reservas e serviços.\nConversa de forma leve, clara e humana, sem parecer um robô.\n<\\identidade>\n\n<sobre_a_empresa_>\nA Smart Hotéis Reserva é uma rede de hospedagens sustentáveis com unidades em Ilhabela, Campos do Jordão, Camburi e Santo Antônio do Pinhal. Oferece conforto, contato com a natureza, café saudável, espaço para trabalho remoto e experiências únicas.\nVocê DEVE buscar na função \"buscar_faq\" SEMPRE que receber uma pergunta, la terão diversas opções pré definidas para melhorar a sua resposta, sempre antes de responder o cliente passe por lá e confira se pode melhorar a sua resposta, nunca copie a resposta, apenas se baseie nela para responder de acordo com o contexto atual\nSe caso a mensagem mencionar que precisa notificar um atendente, realize a ação usando a função ‘notificar_atendente’\n<\\sobre_a_empresa_>\n\n<objetivo>\nAjudar o cliente a:\n* Entender as opções de quartos disponíveis na unidade escolhida\n* Ver imagens e informações para escolher o quarto ideal\n* Acessar o link de reserva via botão no carrossel ou diretamente\n* Receber atendimento humano quando necessário\n<\\objetivo>\n\n<funções_plugadas>\n1. buscar_servicos = Ativa sempre que o lead fizer qualquer pergunta referente aos serviços disponiveis\n\n2. notificar_atendente = Ativa no fechamento do pedido ou se o cliente relatar algum problema.  \n\n3. buscar_infos_todos_quartos  \n→ Retorna dados completos dos quartos da unidade (descrição, café, camas, varanda, pet, check-in, etc.)  \n→ Usada para buscar opções com características específicas (ex: com varanda)\n\n4. buscar_faq  \n→ Usada para responder perguntas frequentes que não sejam sobre os quartos  \n→ Ex: “Tem estacionamento?”, “Oferece yoga?”, “Tem coworking?”, “Qual o horário da recepção?”  \n→ Se encontrar a resposta, envie normalmente. Se não, chame o atendente\n\n5. notificar_atendente  \n→ Usada quando a IA não consegue resolver ou há algo fora do escopo  \n→ Envie um breve resumo da situação e depois continue falando com o cliente normalmente\n<\\funções_plugadas>\n\n<funcoes_na_resposta>\n- TAG #01  \n→ Sempre que o cliente disser algo como “quero ver os quartos”, “quero ver as opções”, “tem fotos?”, etc.,  \n→ Você deve responder normalmente com uma frase simpática e acrescentar | #01 ao final da mensagem  \n→ O sistema vai exibir sua mensagem e enviar automaticamente o carrossel geral com todos os quartos da unidade escolhida e um botão para que ele consiga ver mais detalhes (Se ele clicar você será avisado e tem 2 opções: 1. Se o cliente ja tiver informado tudo que precisamos ja enviar o carrossel pra ele. 2. Se ele ainda não informou ou faltou algo ele precisa primeiro perguntar e dps que o cliente responder ai sim ele envia o carrossel detalhado (#02))\n\n- TAG #02 [nomes separados por vírgula]  \n→ Sempre que o cliente fizer um pedido com filtro específico de quarto (ex: “tem com varanda?”, “tem pra casal?”, “tem com hidro?”), a IA deve:\n    - Buscar os nomes dos quartos que atendem ao critério (usando buscar_infos_todos_quartos)\n    - Escrever uma mensagem simpática e vendedora, com uma breve descrição de cada suíte (nome + ponto forte)\n    - Finalizar com: | #02 Nome1, Nome2, Nome3\n    - Importante: os nomes usados são sempre os nomes reais dos quartos retornados pelo banco de dados, os exemplos abaixo são meramente ilustrativos.\n<\\funcoes_na_resposta>\n\n<orientacoes>\n{{ $('Code1').item.json.resultado }}\n<\\orientacoes>\n\n<formato_de_resposta>\n* Durante o atendimento: Responda com naturalidade, sempre com linguagem leve e fluida\n* Quando o cliente pedir para ver os quartos em geral: [Mensagem humanizada] | #01\n* Quando o cliente pedir algo específico: [Mensagem descritiva] | #02 Nome1, Nome2, Nome3\n* Quando não souber algo: [Consultar buscar_faq → ou notificar_atendente]\n<\\formato_de_resposta>\n\n<mensagem_inicial>\nVocê não precisa se apresentar, pois há uma automação antes de chegar até você para descobrir a unidade que o cliente tem interesse e o que ele deseja (orçar, tirar dúvidas, etc). Você vai apenas ajuda-lo com as informações e com as dúvidas em relação aos quartos.\n<\\mensagem_inicial>\n\n<fluxo_de_atendimento>\nEXEMPLOS:\n1. Cliente: “Quero ver os quartos” \nResposta: “Claro! Veja o carrossel abaixo e escolha o quarto que combina mais com você: | #01”\n\n2. Cliente: “Tem quarto com varanda?”  \nResposta (exemplo apenas para referência de estrutura — nomes reais virão do banco de dados):\n\nEssas suítes têm varanda e são ideais pra quem curte um visual lindo com conforto!  \n* Vista da Mantiqueira: privativa, com cama queen e vista para as montanhas  \n* Retro Vista das Montanhas: Com varanda compartilhada  \n* Retrô Vista Mantiqueira com Hidro: conforto, vista e uma hidro deliciosa pra relaxar  \n| #02 Vista da Mantiqueira, Retro Vista das Montanhas, Retrô Vista Mantiqueira com Hidro\n\n3. Cliente: “Tô com dificuldade pra reservar”  \nResposta:\n[notificar_atendente com o resumo]  \n“Poxa! Já avisei nossa equipe pra te ajudar direitinho por aqui, tá? ”\n\n4. Cliente: “Tem estacionamento?”  \nResposta:\n[buscar_faq → se encontrar, responder]  \n“Tem sim! Os hóspedes podem usar o estacionamento da unidade gratuitamente durante toda a estadia ”\n\nIMPORTANTE:\n* Nunca invente dados que não estejam documentados\n* Nunca realize reservas dentro do WhatsApp\n* Nunca envie o carrossel errado (basear-se sempre na unidade já informada pelo cliente)\n* Sempre use | #01 para carrossel geral\n* Sempre use | #02 Nome1, Nome2 para carrossel individual (com nomes REAIS dos quartos encontrados no banco)\n\nQuando responder com | #02, não cole links, imagens ou nomes repetidos dos quartos.  \nO sistema já mostrará isso no carrossel.\n\nA IA deve apenas escrever uma frase leve, simpática e vendedora que complemente o carrossel, incentivando o cliente a clicar e reservar. Exemplos:\n\n* “Essas aqui têm varanda e são ótimas pra curtir o visual com conforto! Dá uma olhadinha no carrossel e se curtir alguma, já pode clicar no botão pra reservar direto pelo site \n| #02 Nome1, Nome2, Nome3”\n\n* “Olha essas opções com varanda que separei pra você! Se gostar de alguma, é só clicar no botão e garantir sua reserva rapidinho \n| #02 Nome1, Nome2, Nome3”\n\n* “Essas são perfeitas pra relaxar com uma vista incrível. Escolheu a sua? É só clicar no botão pra reservar agora mesmo! \n| #02 Nome1, Nome2, Nome3”\n\nUse apenas o nome real dos quartos ao final, separados por vírgula. Sem detalhamento extra.\n\nIMPORTANTE:\nNunca esqueça de perguntar, qual a data do check in e checkout, quantas pessoas são e se tem crianças antes de enviar os carrosseis.\nAs mensagens acima são apenas exemplos para que você saiba como responder, você deve criar suas próprias mensagens humanizadas se baseando nos exemplos.\n<fluxo_de_atendimento>\n\nDADOS DO CLIENTE QUE VOCÊ ESTÁ CONVERSANDO:\nNumero: {{ $('Webhook').first().json.body.phone }}\nUnidade Escolhida: {{ $('Webhook').first().json.unidade }}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [
        1344,
        -192
      ],
      "id": "8826d45d-0ade-44d7-a2c0-ec028c997b83",
      "name": "AI Agent1"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Webhook').first().json.memoria }}",
        "contextWindowLength": 100
      },
      "type": "@n8n/n8n-nodes-langchain.memoryRedisChat",
      "typeVersion": 1.5,
      "position": [
        1296,
        32
      ],
      "id": "894d294d-cc9c-4802-a9df-6b03c2457515",
      "name": "Redis Chat Memory1",
      "credentials": {
        "redis": {
          "id": "jui80Gim2A5frf81",
          "name": "3IAN - REDIS"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('CREDECIAMENTO').first().json.urlSemBarraFinal }}/send-carousel",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Client-Token",
              "value": "={{ $('CREDECIAMENTO').first().json.token }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"phone\": \"{{ $('Webhook').first().json.body.phone.replace(/\\s+/g, ' ').trim() }}\",\n  \"message\": \"Veja detalhes abaixo:\",\n  \"carousel\": [\n    {\n      \"text\": \"{{ $json['Nome Exibição'].replace(/\\s+/g, ' ').trim() }}\",\n      \"image\": \"{{ $json.Foto_1.replace(/\\s+/g, ' ').trim() }}\",\n      \"buttons\": [\n        {\n          \"id\": \"1\",\n          \"label\": \"Veja Valores Aqui\",\n          \"url\": \"{{ $('Execute Workflow').first().json.output.replace(/\\s+/g, ' ').trim().toString() }}\",\n          \"type\": \"URL\"\n        },\n        {\n          \"id\": \"menu_inicial\",\n          \"label\": \"Voltar ao Menu 🔙\",\n          \"type\": \"REPLY\"\n        }\n      ]\n    },\n    {\n      \"text\": \"{{ $json['Nome Exibição'].replace(/\\s+/g, ' ').trim() }}\",\n      \"image\": \"{{ $json.Foto_2.replace(/\\s+/g, ' ').trim() }}\",\n      \"buttons\": [\n        {\n          \"id\": \"2\",\n          \"label\": \"Veja Valores Aqui\",\n          \"url\": \"{{ $('Execute Workflow').first().json.output.replace(/\\s+/g, ' ').trim().toString() }}\",\n          \"type\": \"URL\"\n        },\n        {\n          \"id\": \"menu_inicial\",\n          \"label\": \"Voltar ao Menu 🔙\",\n          \"type\": \"REPLY\"\n        }\n      ]\n    },\n    {\n      \"text\": \"{{ $json['Nome Exibição'].replace(/\\s+/g, ' ').trim() }}\",\n      \"image\": \"{{ $json.Foto_3.replace(/\\s+/g, ' ').trim() }}\",\n      \"buttons\": [\n        {\n          \"id\": \"3\",\n          \"label\": \"Veja Valores Aqui\",\n          \"url\": \"{{ $('Execute Workflow').first().json.output.replace(/\\s+/g, ' ').trim().toString() }}\",\n          \"type\": \"URL\"\n        },\n        {\n          \"id\": \"menu_inicial\",\n          \"label\": \"Voltar ao Menu 🔙\",\n          \"type\": \"REPLY\"\n        }\n      ]\n    },\n    {\n      \"text\": \"{{ $json['Nome Exibição'].replace(/\\s+/g, ' ').trim() }}\",\n      \"image\": \"{{ $json.Foto_4.replace(/\\s+/g, ' ').trim() }}\",\n      \"buttons\": [\n        {\n          \"id\": \"4\",\n          \"label\": \"Veja Valores Aqui\",\n          \"url\": \"{{ $('Execute Workflow').first().json.output.replace(/\\s+/g, ' ').trim().toString() }}\",\n          \"type\": \"URL\"\n        },\n        {\n          \"id\": \"menu_inicial\",\n          \"label\": \"Voltar ao Menu 🔙\",\n          \"type\": \"REPLY\"\n        }\n      ]\n    },\n    {\n      \"text\": \"{{ $json['Nome Exibição'].replace(/\\s+/g, ' ').trim() }}\",\n      \"image\": \"{{ $json.Foto_5.replace(/\\s+/g, ' ').trim() }}\",\n      \"buttons\": [\n        {\n          \"id\": \"5\",\n          \"label\": \"Veja Valores Aqui\",\n          \"url\": \"{{ $('Execute Workflow').first().json.output.replace(/\\s+/g, ' ').trim().toString() }}\",\n          \"type\": \"URL\"\n        },\n        {\n          \"id\": \"menu_inicial\",\n          \"label\": \"Voltar ao Menu 🔙\",\n          \"type\": \"REPLY\"\n        }\n      ]\n    }\n  ]\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4304,
        704
      ],
      "id": "a3dd4f1a-ace4-426f-b856-46726667c72d",
      "name": "CARROSSEL INDIVIDUAL"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.output }}",
                    "rightValue": "#01",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    },
                    "id": "43182efb-7ca0-47c8-bb94-82d40ab04bf5"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "GERAL"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "c18da7a1-96b2-4b80-9149-748f7c44fdce",
                    "leftValue": "={{ $json.output }}",
                    "rightValue": "#02",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "INDIVIDUAL"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "affea2c7-2485-4b9c-8d36-71b64e5c33c0",
                    "leftValue": "",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "FAQ"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        2112,
        576
      ],
      "id": "d31de77c-ed45-4abc-b6c5-50018a99dae3",
      "name": "Switch4"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('CREDECIAMENTO').first().json.urlSemBarraFinal }}/send-text",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Client-Token",
              "value": "={{ $('CREDECIAMENTO').first().json.token }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "={{ $('Webhook').first().json.body.phone }}"
            },
            {
              "name": "message",
              "value": "={{ $json.output .split('|')[0].trim()}}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2336,
        -256
      ],
      "id": "18612639-8216-48f8-a4f6-9afcb5a7f276",
      "name": "ENVIO DE MENSAGEM DE TEXTO"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('CREDECIAMENTO').first().json.urlSemBarraFinal }}/send-text",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Client-Token",
              "value": "={{ $('CREDECIAMENTO').first().json.token }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "={{ $('Webhook').first().json.body.phone }}"
            },
            {
              "name": "message",
              "value": "={{ $json.output .trim()}}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2336,
        880
      ],
      "id": "9ce0875c-2649-43e6-8f5e-bada8cd3c3c8",
      "name": "ENVIO DE MENSAGEM DE TEXTO1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('CREDECIAMENTO').first().json.urlSemBarraFinal }}/send-text",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Client-Token",
              "value": "={{ $('CREDECIAMENTO').first().json.token }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "={{ $('Webhook').first().json.body.phone }}"
            },
            {
              "name": "message",
              "value": "={{ $json.output .split('|')[0].trim()}}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2336,
        688
      ],
      "id": "c44a2bf6-dbe6-40c3-900e-cef2943bc740",
      "name": "ENVIO DE MENSAGEM DE TEXTO3"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        3680,
        688
      ],
      "id": "254b759f-559c-4f06-a2bd-88e8e9731024",
      "name": "Loop Over Items"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        4528,
        704
      ],
      "id": "25845487-e8a6-4666-86c8-7814f54cf2f0",
      "name": "Wait",
      "webhookId": "d2fd0b3c-c5b7-4386-b9ee-325a08c49df8"
    },
    {
      "parameters": {
        "maxItems": 5
      },
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        3008,
        688
      ],
      "id": "6adfd147-4c7a-4a01-ade6-c2688346012f",
      "name": "Limit"
    },
    {
      "parameters": {
        "jsCode": "const entrada = items[0].json.nomes;\n\n// Divide os nomes por vírgula e remove espaços extras\nconst nomesSeparados = entrada.split(',').map(nome => nome.trim());\n\nreturn nomesSeparados.map(nome => {\n  return {\n    json: {\n      nome: nome\n    }\n  };\n});\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2784,
        688
      ],
      "id": "dad9b059-1025-40ea-966d-f0e50d28d81b",
      "name": "SETA OS CAMPOS"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "72023dc5-9c8e-4c5a-a01e-1fc0c68a01e6",
              "name": "nomes",
              "value": "={{ $('AI Agent1').item.json.output .split('| #02 ')[1]}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2560,
        688
      ],
      "id": "b823e2db-01a8-44c3-a95e-65e7bdd1b306",
      "name": "NOMES SEPARADOS POR ,"
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "QUARTOS_GERAL",
          "mode": "list",
          "cachedResultName": "QUARTOS_GERAL"
        },
        "returnAll": true,
        "where": {
          "values": [
            {
              "column": "Unidade",
              "value": "={{ $('Webhook').first().json.unidade }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        2560,
        -256
      ],
      "id": "35360198-da1c-44f8-93c0-ab71043f3b4a",
      "name": "BUSCA TODOS OS QUARTOS",
      "credentials": {
        "mySql": {
          "id": "A112kZvtWASH5sMG",
          "name": "MARCIO_HOTEL"
        }
      }
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "ORIENTAÇÕES",
          "mode": "list",
          "cachedResultName": "ORIENTAÇÕES"
        },
        "returnAll": true,
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        736,
        -192
      ],
      "id": "dcd137ac-9d39-48e6-9444-1924813d55a2",
      "name": "MySQL",
      "credentials": {
        "mySql": {
          "id": "A112kZvtWASH5sMG",
          "name": "MARCIO_HOTEL"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const linhasFormatadas = items.map(item => {\n  const o = item.json;\n\n  return (\n    `Orientação: ${o[\"Orientação\"] || \"(não informado)\"}\\n` +\n    `Condição/Exceção: ${o[\"Condição ou Exceção\"] || \"(nenhuma)\"}\\n`\n  );\n});\n\nreturn [\n  {\n    json: {\n      resultado: linhasFormatadas.join('\\n')\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        928,
        -192
      ],
      "id": "4220a10e-af72-4358-af0a-767b4c57b060",
      "name": "Code1"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "j0mirlCn4web9Saj",
          "mode": "list",
          "cachedResultName": "marcio link"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "memoria": "={{ $('Webhook').first().json.memoria }}",
            "unidade": "={{ \n  $json.escolheuMenu == 'Campos do Jordão' ? 'CAMPOS' :\n  $json.escolheuMenu == 'Ilhabela' ? 'ILHABELA' :\n  $json.escolheuMenu == 'Camburi' ? 'CAMBURI' :\n  $json.escolheuMenu == 'Santo Antônio do Pinhal' ? 'SANTO ANTONIO' :\n  $json.escolheuMenu }}"
          },
          "matchingColumns": [
            "memoria"
          ],
          "schema": [
            {
              "id": "memoria",
              "displayName": "memoria",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "unidade",
              "displayName": "unidade",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        3456,
        688
      ],
      "id": "f6c06c6d-f632-48f4-8a30-ab5b7c49341c",
      "name": "Execute Workflow"
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "carroseis_individuais",
          "mode": "list",
          "cachedResultName": "carroseis_individuais"
        },
        "returnAll": true,
        "where": {
          "values": [
            {
              "column": "Categoria",
              "value": "={{ $('SETA OS CAMPOS').item.json.nome.toLowerCase().replace(/su[ií]te/gi, '').replace(/cabana/gi, '').replace(/bangal[ôo]/gi, '').replace(/varanda\\s+com\\s+hidro/gi, 'varanda_c_hidro').replace(/\\s+/g, '_').trim() }}"
            },
            {
              "column": "Categoria",
              "value": "={{ $('SETA OS CAMPOS').item.json.nome.toLowerCase().replace(/su[ií]te/gi, '').replace(/cabana/gi, '').replace(/bangal[ôo]/gi, '').replace(/varanda\\s+com\\s+hidro/gi, 'varanda_c_hidro').replace(/\\s+/g, '_').trim() .slice('1')}}"
            }
          ]
        },
        "combineConditions": "OR",
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        3872,
        704
      ],
      "id": "9f6d1fca-a14c-4dd9-9d6f-0ec7c78f8808",
      "name": "BUSCA OS LINKS DO CARROSSEL",
      "alwaysOutputData": true,
      "credentials": {
        "mySql": {
          "id": "A112kZvtWASH5sMG",
          "name": "MARCIO_HOTEL"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ad0511db-1ef2-42e7-b7e0-797c69c47f43",
              "name": "escolheuMenu",
              "value": "={{ $('Webhook').first().json.unidade }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3232,
        688
      ],
      "id": "c3c6a66c-9e77-4123-b0ed-67e5184f73f6",
      "name": "Edit Fields17"
    },
    {
      "parameters": {
        "name": "notificar_atendente",
        "description": "sempre_que_precisar_notificar_um_atendente",
        "workflowId": {
          "__rl": true,
          "value": "FyGWJ8Uiy82tpGpF",
          "mode": "list",
          "cachedResultName": "NOTIFICAR ATENDENTE MARCIO"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "sessionId": "={{ $('Webhook').first().json.body.phone || ''}}",
            "chatInput": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('chatInput', `Resumo sobre o porque estamos notificando o atendente (Sempre precisa conter o numero de telefone do hospede)`, 'string') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "chatInput",
              "displayName": "chatInput",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "sessionId",
              "displayName": "sessionId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.1,
      "position": [
        1408,
        352
      ],
      "id": "db9c55cf-a44a-4bec-85b2-11c6b23bbd85",
      "name": "notificar_atendente"
    },
    {
      "parameters": {
        "description": "Sempre que precisar buscar perguntas e respostas frequentes",
        "workflowId": {
          "__rl": true,
          "value": "HFr3c4LiF7tU54Ko",
          "mode": "list",
          "cachedResultName": "FUNÇÕES IA MARCIO"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "unidade": "={{ $('Webhook').first().json.unidade }}",
            "funcao": "faq"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "funcao",
              "displayName": "funcao",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "unidade",
              "displayName": "unidade",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        1696,
        32
      ],
      "id": "3ab43137-fb54-43ea-8a81-30916c3c567f",
      "name": "busca_respostas_gerais"
    },
    {
      "parameters": {
        "description": "Sempre que precisar buscar_infos_todos_quartos",
        "workflowId": {
          "__rl": true,
          "value": "HFr3c4LiF7tU54Ko",
          "mode": "list",
          "cachedResultName": "FUNÇÕES IA MARCIO"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "unidade": "={{ $('Webhook').first().json.unidade }}",
            "funcao": "quartos"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "funcao",
              "displayName": "funcao",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "unidade",
              "displayName": "unidade",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        1904,
        32
      ],
      "id": "34774773-368f-4da7-95f2-218223480bbe",
      "name": "buscar_infos_todos_quartos"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-2025-04-14",
          "mode": "list",
          "cachedResultName": "gpt-4.1-2025-04-14"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        1168,
        32
      ],
      "id": "1b20cc90-6807-4fd6-ac9c-5e3c4e70e9ff",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "KOT2Hf8hg3OIevZG",
          "name": "MARCIO HOTEL"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "65f40dc1-2830-4d84-9e61-0fc033cab578",
              "name": "messages",
              "value": "={{ $('Webhook').first().json.pergunta }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1120,
        -192
      ],
      "id": "26458872-efb8-4095-9c53-57d9fc5970e0",
      "name": "Edit Fields12"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "5e9ad847-847c-4c06-ac47-37195f6f9dfe",
              "leftValue": "={{ $json.output }}",
              "rightValue": "print(default",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "6b459493-6460-44d5-8814-8ff22a057a09",
              "leftValue": "={{ $json.output }}",
              "rightValue": "notificar_atendente",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "ec3c7299-ea56-44e8-ac01-254285f5a54c",
              "leftValue": "={{ $json.output }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1888,
        -256
      ],
      "id": "cae4c438-efad-40d0-aa02-e767c5f5fb6c",
      "name": "If9"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "db5cfe0a-7f43-4a61-8b27-bfd3a95deb8d",
              "name": "messages",
              "value": "=MENSAGEM DO SISTEMA: Resposta bloqueada. Contém elementos proibidos",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "3712c6cc-7cd2-4367-a0f6-f62f0793e9c1",
      "name": "SAIDA",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2112,
        -192
      ]
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "carroseis_individuais",
          "mode": "list",
          "cachedResultName": "carroseis_individuais"
        },
        "returnAll": true,
        "where": {
          "values": [
            {
              "column": "Unidade",
              "value": "={{ $('Webhook').first().json.unidade .trim()}}"
            }
          ]
        },
        "options": {
          "outputColumns": [
            "Categoria"
          ]
        }
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.5,
      "position": [
        4304,
        432
      ],
      "id": "d37d5b22-94d0-4891-82eb-96b2cfcb56db",
      "name": "insere carrosseis2",
      "credentials": {
        "mySql": {
          "id": "A112kZvtWASH5sMG",
          "name": "MARCIO_HOTEL"
        }
      }
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "Categoria"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        4512,
        432
      ],
      "id": "68a30863-a60c-46e5-a68a-0488b501178a",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "43beacde-eb81-425f-8f3c-ab830ccc936d",
              "leftValue": "={{ $json.Categoria }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        4048,
        704
      ],
      "id": "4a83a1c4-92ee-44be-a49c-545cc04f1920",
      "name": "If4"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f17cff31-72d1-4cbe-ade1-abde82c88f87",
              "name": "messages",
              "value": "=Quarto não localizado, refaça usando o nome abaixo:\n{{ $json.Categoria .join('\\n')}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        4720,
        432
      ],
      "id": "a94ac938-20e7-4d15-8990-925fb3f55956",
      "name": "Edit Fields13"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d1e009d3-c819-4f58-9d22-947dabe55589",
              "name": "urlSemBarraFinal",
              "value": "https://api.z-api.io/instances/3E7B6A5C516A50D082B052988BE3B884/token/C7B6A22F18E00B139C4F1627",
              "type": "string"
            },
            {
              "id": "995821dd-3547-496b-9304-ab9e245c6008",
              "name": "token",
              "value": "F52d0326228f444c49d82c943eb576f71S",
              "type": "string"
            },
            {
              "id": "b6bd0819-0330-42ba-b2ce-0f6b92322053",
              "name": "numero",
              "value": "={{ (() => {\n  const w = $('Webhook').item.json || {};\n  const numeroOriginal = ((w.body && w.body.phone) ?? w.Numero ?? '').toString();\n\n  const somenteNumeros = numeroOriginal.replace(/\\D/g, '');\n  let numeroFinal = '';\n\n  if (somenteNumeros.length === 13) {\n    numeroFinal = somenteNumeros;\n  } else if (somenteNumeros.length === 12) {\n    numeroFinal = somenteNumeros.slice(0, 4) + '9' + somenteNumeros.slice(4);\n  } else if (somenteNumeros.length === 11) {\n    numeroFinal = '55' + somenteNumeros;\n  } else {\n    numeroFinal = numeroOriginal; // mantém exatamente como chegou (letras etc.)\n  }\n\n  return numeroFinal;\n})() }}",
              "type": "string"
            },
            {
              "id": "61dbbf08-7566-47c6-86a0-4fa2441fde08",
              "name": "memoriaRedis",
              "value": "marcioHotel",
              "type": "string"
            },
            {
              "id": "21ece186-0bb6-4aea-af0f-1e19487ac9a4",
              "name": "numeroAtendente",
              "value": "120363420234916766-group",
              "type": "string"
            },
            {
              "id": "fde03cc1-8d64-4c93-9feb-72dbc9c6f42b",
              "name": "idFlow",
              "value": "a64d6cbc-5d1b-4542-a47b-5d696d5f9fee",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        576,
        -192
      ],
      "id": "3af055f0-477c-44d2-8341-ade9f625281d",
      "name": "CREDECIAMENTO"
    },
    {
      "parameters": {
        "toolDescription": "=Sempre que precisar notificar o atendente",
        "method": "POST",
        "url": "={{ $('CREDECIAMENTO').first().json.urlSemBarraFinal }}/send-text",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Client-Token",
              "value": "={{ $('CREDECIAMENTO').first().json.token }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "message",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters0_Value', `Sempre inclua o numero de telefone, o quarto e a unidade que o cliente está hospedado`, 'string') }}"
            },
            {
              "name": "phone",
              "value": "=5511973178256"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.2,
      "position": [
        1488,
        32
      ],
      "id": "9d2ea6a2-6b0d-43f2-97cd-5440a3e3f89f",
      "name": "notificar_atendentes"
    }
  ],
  "pinData": {
    "Webhook": [
      {
        "json": {
          "unidade": "CAMBURI\n",
          "pergunta": "Cliente selecionou no menu: bangalo_duplex_vista_jardim\nEle deseja receber o carrossel detalhado então use o #02 se ja tiver coletado os dados necessarios, se não você deve pedir pra ele enviar",
          "memoria": "|MARCIO-5551997673534",
          "body": {
            "isStatusReply": false,
            "chatLid": "57269144297546@lid",
            "connectedPhone": "5511996750075",
            "waitingMessage": false,
            "isEdit": false,
            "isGroup": false,
            "isNewsletter": false,
            "instanceId": "3E7B6A5C516A50D082B052988BE3B884",
            "messageId": "3EB079E0A608A12A0F29B6",
            "phone": "555197673534",
            "fromMe": false,
            "momment": 1759855398000,
            "status": "RECEIVED",
            "chatName": "Rafael Dall’Agnol",
            "senderPhoto": null,
            "senderName": "Rafael Dall’Agnol",
            "photo": "https://pps.whatsapp.net/v/t61.24694-24/491872210_1675578906460139_5865111667155412505_n.jpg?ccb=11-4&oh=01_Q5Aa2gHZWnncmpbhUQxtbqaJjvBTbxDSfxIJMHRrL2BTIlOwYQ&oe=68F244C5&_nc_sid=5e03e0&_nc_cat=104",
            "broadcast": false,
            "participantLid": null,
            "referenceMessageId": "3EB0B51459B9C5BEA3AEBE",
            "messageExpirationSeconds": 0,
            "forwarded": false,
            "type": "ReceivedCallback",
            "fromApi": false,
            "buttonReply": {
              "buttonId": "bangalo_duplex_vista_jardim",
              "message": "Ver Detalhes 🛏️",
              "referenceMessageId": "3EB0B51459B9C5BEA3AEBE",
              "carouselCardIndex": 2
            }
          }
        }
      }
    ]
  },
  "connections": {
    "POSSUI FOTO?": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "ENVIA CARROSSEL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent1": {
      "main": [
        [
          {
            "node": "If9",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis Chat Memory1": {
      "ai_memory": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "CARROSSEL INDIVIDUAL": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch4": {
      "main": [
        [
          {
            "node": "ENVIO DE MENSAGEM DE TEXTO",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "ENVIO DE MENSAGEM DE TEXTO3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "ENVIO DE MENSAGEM DE TEXTO1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ENVIO DE MENSAGEM DE TEXTO": {
      "main": [
        [
          {
            "node": "BUSCA TODOS OS QUARTOS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ENVIO DE MENSAGEM DE TEXTO3": {
      "main": [
        [
          {
            "node": "NOMES SEPARADOS POR ,",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "BUSCA OS LINKS DO CARROSSEL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit": {
      "main": [
        [
          {
            "node": "Edit Fields17",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SETA OS CAMPOS": {
      "main": [
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NOMES SEPARADOS POR ,": {
      "main": [
        [
          {
            "node": "SETA OS CAMPOS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "BUSCA TODOS OS QUARTOS": {
      "main": [
        [
          {
            "node": "POSSUI FOTO?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MySQL": {
      "main": [
        [
          {
            "node": "Code1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code1": {
      "main": [
        [
          {
            "node": "Edit Fields12",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Workflow": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "BUSCA OS LINKS DO CARROSSEL": {
      "main": [
        [
          {
            "node": "If4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields17": {
      "main": [
        [
          {
            "node": "Execute Workflow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "notificar_atendente": {
      "ai_tool": [
        []
      ]
    },
    "busca_respostas_gerais": {
      "ai_tool": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "buscar_infos_todos_quartos": {
      "ai_tool": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields12": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If9": {
      "main": [
        [
          {
            "node": "SAIDA",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Switch4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SAIDA": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "insere carrosseis2": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Edit Fields13",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If4": {
      "main": [
        [
          {
            "node": "insere carrosseis2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "CARROSSEL INDIVIDUAL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields13": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "CREDECIAMENTO",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CREDECIAMENTO": {
      "main": [
        [
          {
            "node": "MySQL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "notificar_atendentes": {
      "ai_tool": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "fc4fcfc4-6bda-4997-882c-b3a19e3c0a4d",
  "meta": {
    "instanceId": "33032ef6031266b8bc0d76b06793a6cdb5fab704b174a9882769b60050692f00"
  },
  "id": "ZuCcOtdnrWbR6gIc",
  "tags": []
}