fluxo-n8n-hoteis-reserva/EXT - MARCIO RESPOSTA MENU FAQ.json
{
  "name": "EXT - MARCIO RESPOSTA MENU FAQ",
  "nodes": [
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "faq_perguntas",
          "mode": "list",
          "cachedResultName": "faq_perguntas"
        },
        "limit": 1,
        "where": {
          "values": [
            {
              "column": "pergunta_id",
              "value": "={{ $('Webhook').first().json.body.listResponseMessage.selectedRowId }}"
            }
          ]
        },
        "options": {
          "outputColumns": [
            "resposta"
          ]
        }
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        848,
        448
      ],
      "id": "a0fc9043-7562-441c-a3f8-39bef31db9a8",
      "name": "DELETA O LEAD DO BANCO DE DADOS1",
      "alwaysOutputData": true,
      "credentials": {
        "mySql": {
          "id": "A112kZvtWASH5sMG",
          "name": "MARCIO_HOTEL"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('CREDECIAMENTO').first().json.urlSemBarraFinal }}/send-text",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Client-Token",
              "value": "={{ $('CREDECIAMENTO').first().json.token }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "={{ $('Webhook').first().json.body.phone }}"
            },
            {
              "name": "message",
              "value": "={{ $json.resposta }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1072,
        448
      ],
      "id": "73a42ffa-88a0-4fd9-8d44-8a8896521a0c",
      "name": "ENVIA MENSAGEM3"
    },
    {
      "parameters": {
        "amount": 2
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1296,
        448
      ],
      "id": "18b0a49f-88c9-48cf-ba8c-63a464058d0b",
      "name": "Wait2",
      "webhookId": "b2d1e9d1-51c3-4fda-bdde-dd4ad9587fac"
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "IA_SDR_CAMPOS",
          "mode": "list",
          "cachedResultName": "IA_SDR_CAMPOS"
        },
        "limit": 1,
        "where": {
          "values": [
            {
              "column": "numero",
              "value": "={{ $('CREDECIAMENTO').first().json.numero }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        1520,
        448
      ],
      "id": "75d296b4-7067-4dff-b1fc-19ef86beddec",
      "name": "BUSCA A UNIDADE ESCOLHIDA2",
      "alwaysOutputData": true,
      "credentials": {
        "mySql": {
          "id": "A112kZvtWASH5sMG",
          "name": "MARCIO_HOTEL"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "b4af1760-2d4e-45d3-8481-4406d36429ac",
                    "leftValue": "={{ $json.escolheuMenu }}",
                    "rightValue": "Campos do Jordão",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Campos do Jordão"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "ad29d351-7811-4b49-9d0f-97e743f0da29",
                    "leftValue": "={{ $json.escolheuMenu }}",
                    "rightValue": "Ilhabela",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Ilhabela"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "a2edbb82-d9bb-4546-bad0-d1db17f3e75b",
                    "leftValue": "={{ $json.escolheuMenu }}",
                    "rightValue": "Camburi",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Camburi"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "b8dab146-7d5b-4ba7-b401-d99b83b2a102",
                    "leftValue": "={{ $json.escolheuMenu }}",
                    "rightValue": "Santo Antônio do Pinhal",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Santo Antônio do Pinhal"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        1120,
        -464
      ],
      "id": "02f222a8-38c5-457a-a95d-980d5dbd48bf",
      "name": "Switch2"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.z-api.io/instances/3DDCE2C0BAB090F176CC12538E6B8BF6/token/ABCECEC4ECE6FA8A04C6B863/send-option-list",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Client-Token",
              "value": "=Ffb031b6c74924a16a62fa08ccdfb31f5S"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"phone\": \"{{ $('Webhook').item.json.body.phone }}\",\n  \"message\": \"Escolha uma das perguntas mais frequentes sobre sua estadia:\",\n  \"optionList\": {\n    \"title\": \"Dúvidas Frequentes\",\n    \"buttonLabel\": \"Abrir perguntas\",\n    \"options\": [\n      { \"id\": \"CJ-1\", \"title\": \"Aceita pet?\", \"description\": \"Política para pets e taxa.\" },\n      { \"id\": \"CJ-2\", \"title\": \"Horário de check-in e check-out\", \"description\": \"Saiba os horários de entrada e saída.\" },\n      { \"id\": \"CJ-3\", \"title\": \"Senha da porta\", \"description\": \"Como receber a senha de acesso.\" },\n      { \"id\": \"CJ-4\", \"title\": \"Senha da internet\", \"description\": \"Wi-Fi disponível nas suítes.\" },\n      { \"id\": \"CJ-5\", \"title\": \"Café da manhã\", \"description\": \"Horário e local de serviço.\" },\n      { \"id\": \"CJ-6\", \"title\": \"Late check-out\", \"description\": \"Verifique a possibilidade e condições.\" },\n      { \"id\": \"CJ-7\", \"title\": \"Cancelar reserva\", \"description\": \"Como cancelar ou remarcar sua estadia.\" },\n      { \"id\": \"CJ-8\", \"title\": \"Check-in antecipado\", \"description\": \"Possibilidade de entrar antes do horário.\" },\n      { \"id\": \"CJ-9\", \"title\": \"Indicação de Uber\", \"description\": \"Motorista parceiro da pousada.\" },\n      { \"id\": \"CJ-10\", \"title\": \"Funcionamento do portão\", \"description\": \"Acesso ao portão principal.\" },\n      { \"id\": \"CJ-11\", \"title\": \"Local do café da manhã\", \"description\": \"Onde fica servido o café.\" },\n      { \"id\": \"CJ-12\", \"title\": \"Estacionamento\", \"description\": \"Informações sobre vagas e acesso.\" },\n      { \"id\": \"CJ-13\", \"title\": \"Uso do coworking\", \"description\": \"Disponível mesmo sem hospedagem?\" },\n      { \"id\": \"CJ-14\", \"title\": \"Horário do café da manhã\", \"description\": \"Servido das 08h às 10h.\" },\n      { \"id\": \"CJ-15\", \"title\": \"Restaurantes indicados\", \"description\": \"Sugestões de onde comer na cidade.\" },\n      { \"id\": \"CJ-16\", \"title\": \"Aceita iFood?\", \"description\": \"Pedidos de delivery são aceitos.\" },\n      { \"id\": \"CJ-17\", \"title\": \"Tem recepção física?\", \"description\": \"Atendimento presencial ou virtual.\" },\n      { \"id\": \"CJ-18\", \"title\": \"Acende lareira?\", \"description\": \"Como solicitar o uso da lareira.\" },\n      { \"id\": \"CJ-19\", \"title\": \"Tem toalhas na suíte?\", \"description\": \"Suítes completas com enxoval.\" },\n      { \"id\": \"CJ-20\", \"title\": \"Problemas no web check-in\", \"description\": \"Ajuda para finalizar seu acesso.\" }\n    ]\n  }\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1344,
        -720
      ],
      "id": "25a09bef-0000-429f-8220-a645a744f10a",
      "name": "ENVIO DE MENSAGEM DE TEXTO17"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('CREDECIAMENTO').first().json.urlSemBarraFinal }}/send-text",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Client-Token",
              "value": "={{ $('CREDECIAMENTO').first().json.token }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"phone\": \"{{ $('Webhook').first().json.body.phone }}\",\n  \"message\": \"_Se quiser retornar ao Menu, clique no botão abaixo_:\",\n  \"buttonList\": {\n    \"buttons\": [\n      {\n        \"id\": \"menu_inicial\",\n        \"label\": \"Voltar ao Menu\"\n      }\n    ]\n  }\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2288,
        448
      ],
      "id": "67bc2c89-29f9-44c9-b536-155e87be1c23",
      "name": "ENVIO DE MENSAGEM DE TEXTO18"
    },
    {
      "parameters": {
        "amount": 2
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1680,
        -416
      ],
      "id": "73bacd8d-e001-4598-aaa4-64e4101e554a",
      "name": "Wait5",
      "webhookId": "b2d1e9d1-51c3-4fda-bdde-dd4ad9587fac"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.z-api.io/instances/3DDCE2C0BAB090F176CC12538E6B8BF6/token/ABCECEC4ECE6FA8A04C6B863/send-option-list",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Client-Token",
              "value": "=Ffb031b6c74924a16a62fa08ccdfb31f5S"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"phone\": \"{{ $('Webhook').item.json.body.phone }}\",\n  \"message\": \"Selecione uma das perguntas frequentes sobre sua estadia em Ilhabela:\",\n  \"optionList\": {\n    \"title\": \"Dúvidas Frequentes - Ilhabela\",\n    \"buttonLabel\": \"Abrir lista de dúvidas\",\n    \"options\": [\n      { \"id\": \"IL-1\", \"title\": \"Senha do Wifi\", \"description\": \"Acesso à internet no hotel\" },\n      { \"id\": \"IL-2\", \"title\": \"Café da manhã\", \"description\": \"Local e como chegar\" },\n      { \"id\": \"IL-3\", \"title\": \"Restaurante próximo\", \"description\": \"Opções a pé e distância\" },\n      { \"id\": \"IL-4\", \"title\": \"Praia da Feiticeira\", \"description\": \"Como acessar a praia\" },\n      { \"id\": \"IL-5\", \"title\": \"Banheira\", \"description\": \"Como utilizar corretamente\" },\n      { \"id\": \"IL-6\", \"title\": \"Praias próximas\", \"description\": \"Quais estão perto do hotel\" },\n      { \"id\": \"IL-7\", \"title\": \"Agendar yoga\", \"description\": \"Horários, agendamento e roupas\" },\n      { \"id\": \"IL-8\", \"title\": \"Agendar massagem\", \"description\": \"Contato, valores e link do menu\" },\n      { \"id\": \"IL-9\", \"title\": \"Estacionamento\", \"description\": \"Local e onde parar\" },\n      { \"id\": \"IL-10\", \"title\": \"Bebedouro\", \"description\": \"Disponibilidade de água filtrada\" },\n      { \"id\": \"IL-11\", \"title\": \"Frigobar e bebidas\", \"description\": \"Vendas e delivery por perto\" },\n      { \"id\": \"IL-12\", \"title\": \"Piscinas\", \"description\": \"Localização e horários de uso\" },\n      { \"id\": \"IL-13\", \"title\": \"Cachoeiras próximas\", \"description\": \"Trilhas acessíveis a pé\" },\n      { \"id\": \"IL-14\", \"title\": \"Pets soltos\", \"description\": \"Regras e orientações para pets\" },\n      { \"id\": \"IL-15\", \"title\": \"Padaria próxima\", \"description\": \"Onde tomar café fora do hotel\" },\n      { \"id\": \"IL-16\", \"title\": \"Toalha para piscina\", \"description\": \"Disponibilidade e política ambiental\" },\n      { \"id\": \"IL-17\", \"title\": \"Limpeza diária\", \"description\": \"Quando está inclusa e valor avulso\" },\n      { \"id\": \"IL-18\", \"title\": \"Coworking com comida?\", \"description\": \"Disponibilidade de café e lanches\" },\n      { \"id\": \"IL-19\", \"title\": \"Guardar bagagem\", \"description\": \"Antes do check-in tem onde deixar?\" },\n      { \"id\": \"IL-20\", \"title\": \"Chuveiro pós check-out\", \"description\": \"Existe? É possível usar?\" }\n    ]\n  }\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1344,
        -528
      ],
      "id": "160911bc-459f-4cf9-8df2-3515ce199d18",
      "name": "ENVIO DE MENSAGEM DE TEXTO19"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.z-api.io/instances/3DDCE2C0BAB090F176CC12538E6B8BF6/token/ABCECEC4ECE6FA8A04C6B863/send-option-list",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Client-Token",
              "value": "=Ffb031b6c74924a16a62fa08ccdfb31f5S"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"phone\": \"{{ $('Webhook').item.json.body.phone }}\",\n  \"message\": \"Dúvidas frequentes sobre sua estadia em Camburi:\",\n  \"optionList\": {\n    \"title\": \"FAQ - Reserva Camburi\",\n    \"buttonLabel\": \"Abrir lista\",\n    \"options\": [\n      { \"id\": \"CB-1\", \"title\": \"Senha do Wi-Fi\", \"description\": \"Acesso à internet no hotel\" },\n      { \"id\": \"CB-2\", \"title\": \"Restaurante\", \"description\": \"Horário de funcionamento\" },\n      { \"id\": \"CB-3\", \"title\": \"Café da manhã\", \"description\": \"Horário de serviço\" },\n      { \"id\": \"CB-4\", \"title\": \"Limpeza da suíte\", \"description\": \"Frequência e condições\" },\n      { \"id\": \"CB-5\", \"title\": \"Aula de Yoga\", \"description\": \"Como agendar via WhatsApp\" },\n      { \"id\": \"CB-6\", \"title\": \"Lenha para lareira\", \"description\": \"Como solicitar lenha\" },\n      { \"id\": \"CB-7\", \"title\": \"Cápsulas de café\", \"description\": \"Como pedir opções\" },\n      { \"id\": \"CB-8\", \"title\": \"Serviço de quarto\", \"description\": \"Refeições no quarto\" },\n      { \"id\": \"CB-9\", \"title\": \"Coworkings\", \"description\": \"Locais e estrutura\" },\n      { \"id\": \"CB-10\", \"title\": \"Filtro de água\", \"description\": \"Onde encontrar\" },\n      { \"id\": \"CB-11\", \"title\": \"Chuveiro\", \"description\": \"Como usar corretamente\" },\n      { \"id\": \"CB-12\", \"title\": \"Dia chuvoso\", \"description\": \"O que fazer mesmo com chuva\" },\n      { \"id\": \"CB-13\", \"title\": \"Praias próximas\", \"description\": \"Localização e acesso\" },\n      { \"id\": \"CB-14\", \"title\": \"Cachoeiras próximas\", \"description\": \"Trilhas e natureza\" },\n      { \"id\": \"CB-15\", \"title\": \"Late check-out\", \"description\": \"Como solicitar\" },\n      { \"id\": \"CB-16\", \"title\": \"Recepção\", \"description\": \"Como somos atendidos\" },\n      { \"id\": \"CB-17\", \"title\": \"Área Kids\", \"description\": \"Espaços para crianças\" },\n      { \"id\": \"CB-18\", \"title\": \"Piscina aquecida?\", \"description\": \"Quais são e onde ficam\" },\n      { \"id\": \"CB-19\", \"title\": \"Ofurô\", \"description\": \"Tem ou não tem?\" },\n      { \"id\": \"CB-20\", \"title\": \"Taças de vinho\", \"description\": \"Disponibilidade no local\" }\n    ]\n  }\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1344,
        -336
      ],
      "id": "8a3f934a-0338-4e04-bace-b69229e32eb9",
      "name": "ENVIO DE MENSAGEM DE TEXTO20"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('CREDECIAMENTO').first().json.urlSemBarraFinal }}/send-option-list",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Client-Token",
              "value": "={{ $('CREDECIAMENTO').first().json.token }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"phone\": \"{{ $('Webhook').first().json.body.phone }}\",\n  \"message\": \"Escolha uma das perguntas frequentes sobre sua estadia em {{ $('BUSCA A UNIDADE ESCOLHIDA2').first().json.escolheuMenu }}\",\n  \"message\": \"Escolha uma das perguntas mais frequentes sobre sua estadia:\",\n{{ $json.data .slice('1')}}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2080,
        448
      ],
      "id": "4c01fc07-1128-47bd-9421-c0841c677ad1",
      "name": "ENVIO DE MENSAGEM DE TEXTO21"
    },
    {
      "parameters": {
        "mode": "insert",
        "messages": {
          "messageValues": [
            {
              "type": "user",
              "message": "={{ $json.titulo }}"
            },
            {
              "type": "ai",
              "message": "={{ $json.resposta }}"
            }
          ]
        }
      },
      "type": "@n8n/n8n-nodes-langchain.memoryManager",
      "typeVersion": 1.1,
      "position": [
        2672,
        448
      ],
      "id": "66cffbb6-7f31-4606-8200-ecd5ff79e0a0",
      "name": "Chat Memory Manager3"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Webhook').first().json.body.phone }}{{ $('CREDECIAMENTO').first().json.memoriaRedis }}",
        "contextWindowLength": 1000
      },
      "type": "@n8n/n8n-nodes-langchain.memoryRedisChat",
      "typeVersion": 1.4,
      "position": [
        2736,
        672
      ],
      "id": "c085e252-24ad-4a28-97db-69699be24571",
      "name": "Redis Chat Memory5",
      "credentials": {
        "redis": {
          "id": "jui80Gim2A5frf81",
          "name": "3IAN - REDIS"
        }
      }
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "faq_perguntas",
          "mode": "list",
          "cachedResultName": "faq_perguntas"
        },
        "limit": 1,
        "where": {
          "values": [
            {
              "column": "pergunta_id",
              "value": "={{ $('Webhook').first().json.body.listResponseMessage.selectedRowId }}"
            }
          ]
        },
        "options": {
          "outputColumns": [
            "resposta",
            "titulo"
          ]
        }
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        2448,
        448
      ],
      "id": "70495840-daac-4f85-818c-1699ea075040",
      "name": "DELETA O LEAD DO BANCO DE DADOS3",
      "alwaysOutputData": true,
      "credentials": {
        "mySql": {
          "id": "A112kZvtWASH5sMG",
          "name": "MARCIO_HOTEL"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "b22959bb-c2ea-4274-9007-1f6178423688",
              "leftValue": "={{ $json.body.fromMe }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -368,
        704
      ],
      "id": "70dbc2de-e576-4189-9a6b-7e42ce44f9dc",
      "name": "EU QUE ENVIEI?"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d1e009d3-c819-4f58-9d22-947dabe55589",
              "name": "urlSemBarraFinal",
              "value": "https://api.z-api.io/instances/3E7B6A5C516A50D082B052988BE3B884/token/C7B6A22F18E00B139C4F1627",
              "type": "string"
            },
            {
              "id": "995821dd-3547-496b-9304-ab9e245c6008",
              "name": "token",
              "value": "F52d0326228f444c49d82c943eb576f71S",
              "type": "string"
            },
            {
              "id": "b6bd0819-0330-42ba-b2ce-0f6b92322053",
              "name": "numero",
              "value": "={{ $json.numeroFormatado }}",
              "type": "string"
            },
            {
              "id": "61dbbf08-7566-47c6-86a0-4fa2441fde08",
              "name": "memoriaRedis",
              "value": "marcioHotel",
              "type": "string"
            },
            {
              "id": "21ece186-0bb6-4aea-af0f-1e19487ac9a4",
              "name": "numeroAtendente",
              "value": "120363420234916766-group",
              "type": "string"
            },
            {
              "id": "fde03cc1-8d64-4c93-9feb-72dbc9c6f42b",
              "name": "idFlow",
              "value": "a64d6cbc-5d1b-4542-a47b-5d696d5f9fee",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        496,
        720
      ],
      "id": "967ff587-c433-4fbc-8094-8441010783c0",
      "name": "CREDECIAMENTO"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a04b0422-7a45-4263-a44b-23e690521144",
              "name": "Numero",
              "value": "={{ $('Webhook').item.json.body.phone }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        48,
        720
      ],
      "id": "0503250d-58bb-470f-a3d5-89ef3d0a5e05",
      "name": "SETA O NUMERO PARA FILTRAR"
    },
    {
      "parameters": {
        "jsCode": "// Cada item vem do input e está disponível em \"items\"\nconst resultado = items.map(item => {\n  const numeroOriginal = item.json.Numero || '';\n\n  // Remove tudo que não for número\n  let somenteNumeros = numeroOriginal.replace(/\\D/g, '');\n\n  // Padroniza para um formato genérico de número\n  let numeroFinal = '';\n\n  // Verifica a quantidade de dígitos e aplica as regras de formatação\n  if (somenteNumeros.length === 13) {\n    numeroFinal = somenteNumeros; // Já está correto\n  } else if (somenteNumeros.length === 12) {\n    // Se tiver 12 dígitos, adiciona o 9 após o 4º caractere (unidade do DDD)\n    numeroFinal = somenteNumeros.slice(0, 4) + '9' + somenteNumeros.slice(4);\n  } else if (somenteNumeros.length === 11) {\n    // Se tiver 11 dígitos, adiciona o código de área \"55\"\n    numeroFinal = '55' + somenteNumeros;\n  } else {\n    // Se for inválido, retorna o mesmo número que chegou\n    numeroFinal = numeroOriginal;\n  }\n\n  return {\n    json: {\n      numeroOriginal,\n      numeroFormatado: numeroFinal\n    }\n  };\n});\n\nreturn resultado;\n"
      },
      "id": "2b9403c5-11ca-4630-b0c5-bbdab60f96f6",
      "name": "PADRONIZA O NUMERO6",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        272,
        720
      ]
    },
    {
      "parameters": {
        "jsCode": "// Code Node (JavaScript) — valida selectedRowId e retorna true/false em isValid\n\n// 1) Helper para acessar caminho de forma segura\nfunction get(obj, path) {\n  return path.split('.').reduce((o, k) => (o && o[k] !== undefined) ? o[k] : undefined, obj);\n}\n\n// 2) Pega o JSON do item atual (ou o primeiro, se preferir todos)\nconst input = (items && items[0] && items[0].json) ? items[0].json : $json;\n\n// 3) Tenta vários caminhos possíveis para achar o selectedRowId\nlet selectedRowId =\n  get(input, 'body.listResponseMessage.selectedRowId') ??\n  get(input, 'listResponseMessage.selectedRowId') ??\n  get(input, 'body.selectedRowId') ??\n  get(input, 'selectedRowId') ??\n  null;\n\n// Normaliza (ex.: \" cj-01 \" -> \"CJ-1\")\nif (typeof selectedRowId === 'string') {\n  selectedRowId = selectedRowId.trim().toUpperCase().replace(/-0+(\\d+)$/, '-$1');\n}\n\n// 4) Gera o conjunto de IDs válidos (IL-1..20, CJ-1..20, CB-1..20, SA-1..20)\nconst validSet = new Set();\nfor (let i = 1; i <= 200000; i++) {\n  validSet.add(`IL-${i}`);\n  validSet.add(`CJ-${i}`);\n  validSet.add(`CB-${i}`);\n  validSet.add(`SA-${i}`);\n}\n\n// 5) Retorna apenas um boolean dentro de json (n8n exige um objeto)\nconst isValid = !!(selectedRowId && validSet.has(selectedRowId));\nreturn [{ json: { isValid } }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -176,
        720
      ],
      "id": "ea616b76-83f9-4279-861b-87f09992ca9d",
      "name": "Code3"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "d5ac50d0-0f05-4bb8-85c8-2f228b7048fb",
              "leftValue": "={{ $('Code3').item.json.isValid }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        720,
        720
      ],
      "id": "b2a8283a-c6a2-4d27-bd33-694ccb87dba1",
      "name": "If2"
    },
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "id": "c055762a-8fe7-4141-a639-df2372f30060",
      "typeVersion": 1.1,
      "name": "Webhook",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [
        -560,
        704
      ]
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "faq_perguntas",
          "mode": "list",
          "cachedResultName": "faq_perguntas"
        },
        "returnAll": true,
        "where": {
          "values": [
            {
              "column": "unidade",
              "value": "={{ (() => {\n  const raw = ($json.escolheuMenu || '').toString();\n  const norm = raw.normalize('NFD').replace(/\\p{Diacritic}/gu,'').toLowerCase().replace(/[^a-z0-9]+/g,' ').trim();\n\n  const MAP = [\n    ['CJ',        ['campos do jordao','campos do jordao sp','campos']],\n    ['IL',      ['ilhabela','ilha bela','ilha-bela']],\n    ['JUQUEHY',       ['juquehy','juquei','juque']],\n    ['CB',       ['camburi','cambury']],\n    ['SA', ['santo antonio do pinhal','santo antonio','sto antonio do pinhal','sto antonio','santo antonio pinhal','s ant pinhal']]\n  ];\n\n  for (const [out, aliases] of MAP) if (aliases.some(a => norm === a || norm.includes(a))) return out;\n  return raw.toUpperCase();\n})() }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.5,
      "position": [
        1712,
        448
      ],
      "id": "02631fae-a540-4a1a-93f9-a4c9bcac5396",
      "name": "Select rows from a table",
      "credentials": {
        "mySql": {
          "id": "A112kZvtWASH5sMG",
          "name": "MARCIO_HOTEL"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// n8n Code (JavaScript) — Run Once for All Items\n// Objetivo: gerar UMA ÚNICA STRING contendo todo o JSON { optionList: { ... } } (sem \"description\")\n// Saída: [{ json: { data: \"<STRING_JSON_AQUI>\" } }]\n\n// Detecta se o array veio dentro de um único item (ex: { input: [...] })\nlet source = items;\nif (items.length === 1) {\n  const j = items[0].json ?? {};\n  const key = Object.keys(j).find(k => Array.isArray(j[k]));\n  if (key) source = (j[key] || []).map(v => ({ json: v }));\n}\n\n// Mapeia para o formato de options (somente id e title)\nconst options = source.map((it, idx) => {\n  const j = it.json ?? it;\n  return {\n    id: String(j.pergunta_id ?? `CJ-${idx + 1}`).trim(),\n    title: String(j.titulo ?? \"Pergunta\").trim()\n  };\n});\n\n// Monta objeto final\nconst obj = {\n  optionList: {\n    title: \"Dúvidas Frequentes\",\n    buttonLabel: \"Abrir perguntas\",\n    options\n  }\n};\n\n// Converte para string única\nconst data = JSON.stringify(obj);\n\n// Retorna 1 item com a STRING\nreturn [{ json: { data } }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1904,
        448
      ],
      "id": "37ee5275-73d2-4593-a0a4-0b08b89be6fa",
      "name": "Code"
    }
  ],
  "pinData": {
    "Switch2": [],
    "ENVIO DE MENSAGEM DE TEXTO18": [
      {
        "json": {
          "zaapId": "019963F2B32D731D96054D377AA85AEA",
          "messageId": "3EB09FCACF2A6A21084FA2",
          "id": "3EB09FCACF2A6A21084FA2"
        }
      }
    ],
    "Webhook": [
      {
        "json": {
          "body": {
            "isStatusReply": false,
            "chatLid": "57269144297546@lid",
            "connectedPhone": "5511915525443",
            "waitingMessage": false,
            "isEdit": false,
            "isGroup": false,
            "isNewsletter": false,
            "instanceId": "3DDCE2C0BAB090F176CC12538E6B8BF6",
            "messageId": "3EB04448BFD802F947BF57",
            "phone": "555197673534",
            "fromMe": false,
            "momment": 1758318896000,
            "status": "RECEIVED",
            "chatName": "Rafael Dall’Agnol",
            "senderPhoto": null,
            "senderName": "Rafael Dall’Agnol",
            "photo": "https://pps.whatsapp.net/v/t61.24694-24/491872210_1675578906460139_5865111667155412505_n.jpg?ccb=11-4&oh=01_Q5Aa2gFgnsgJ9HVzP-4X9fXoVVxbZHdDsbhiPoqJINlEjMSfOQ&oe=68DAC205&_nc_sid=5e03e0&_nc_cat=104",
            "broadcast": false,
            "participantLid": null,
            "referenceMessageId": "3EB02E25F2AE7B89EB4E3A",
            "messageExpirationSeconds": 0,
            "forwarded": false,
            "type": "ReceivedCallback",
            "fromApi": false,
            "listResponseMessage": {
              "message": "",
              "title": "Como cancelar minha reserva?",
              "selectedRowId": "CJ-22"
            }
          }
        }
      }
    ]
  },
  "connections": {
    "DELETA O LEAD DO BANCO DE DADOS1": {
      "main": [
        [
          {
            "node": "ENVIA MENSAGEM3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ENVIA MENSAGEM3": {
      "main": [
        [
          {
            "node": "Wait2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait2": {
      "main": [
        [
          {
            "node": "BUSCA A UNIDADE ESCOLHIDA2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "BUSCA A UNIDADE ESCOLHIDA2": {
      "main": [
        [
          {
            "node": "Select rows from a table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch2": {
      "main": [
        [
          {
            "node": "ENVIO DE MENSAGEM DE TEXTO17",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "ENVIO DE MENSAGEM DE TEXTO19",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "ENVIO DE MENSAGEM DE TEXTO20",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "ENVIO DE MENSAGEM DE TEXTO17": {
      "main": [
        [
          {
            "node": "Wait5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ENVIO DE MENSAGEM DE TEXTO18": {
      "main": [
        [
          {
            "node": "DELETA O LEAD DO BANCO DE DADOS3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait5": {
      "main": [
        []
      ]
    },
    "ENVIO DE MENSAGEM DE TEXTO19": {
      "main": [
        [
          {
            "node": "Wait5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ENVIO DE MENSAGEM DE TEXTO20": {
      "main": [
        [
          {
            "node": "Wait5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ENVIO DE MENSAGEM DE TEXTO21": {
      "main": [
        [
          {
            "node": "ENVIO DE MENSAGEM DE TEXTO18",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis Chat Memory5": {
      "ai_memory": [
        [
          {
            "node": "Chat Memory Manager3",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "DELETA O LEAD DO BANCO DE DADOS3": {
      "main": [
        [
          {
            "node": "Chat Memory Manager3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "EU QUE ENVIEI?": {
      "main": [
        [],
        [
          {
            "node": "Code3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CREDECIAMENTO": {
      "main": [
        [
          {
            "node": "If2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SETA O NUMERO PARA FILTRAR": {
      "main": [
        [
          {
            "node": "PADRONIZA O NUMERO6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PADRONIZA O NUMERO6": {
      "main": [
        [
          {
            "node": "CREDECIAMENTO",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code3": {
      "main": [
        [
          {
            "node": "SETA O NUMERO PARA FILTRAR",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If2": {
      "main": [
        [
          {
            "node": "DELETA O LEAD DO BANCO DE DADOS1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "EU QUE ENVIEI?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Select rows from a table": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "ENVIO DE MENSAGEM DE TEXTO21",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "783205ed-cca2-4a65-9baf-de75f690de1a",
  "meta": {
    "instanceId": "33032ef6031266b8bc0d76b06793a6cdb5fab704b174a9882769b60050692f00"
  },
  "id": "c1wyl5PxEkudwQbx",
  "tags": []
}