fluxo-n8n-hoteis-reserva/FUNÇÕES IA MARCIO.json
{
  "name": "FUNÇÕES IA MARCIO",
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "funcao"
            },
            {
              "name": "unidade"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -368,
        48
      ],
      "id": "d8900369-6461-479e-9031-e8e56586b109",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.funcao }}",
                    "rightValue": "faq_hospede",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "9817d5f9-0f07-4f56-9762-d785cccc6479"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "faq_hospede"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "e11c5b01-748c-48cb-91d8-efc6260cc89d",
                    "leftValue": "={{ $json.funcao }}",
                    "rightValue": "concierge",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "concierge"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "060708c5-adda-4832-aa90-46222ce2be64",
                    "leftValue": "={{ $json.funcao }}",
                    "rightValue": "servico",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "servico"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "f904e139-9fab-426b-bc39-5d6837dc2440",
                    "leftValue": "={{ $json.funcao }}",
                    "rightValue": "faq",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "faq"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "c9b0fae7-34cb-4236-bdbd-64f665ec4cce",
                    "leftValue": "={{ $json.funcao }}",
                    "rightValue": "quartos",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "quartos"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -192,
        0
      ],
      "id": "3caddc9a-805d-432c-9f48-66bc11d1700f",
      "name": "Switch"
    },
    {
      "parameters": {
        "fieldToSplitOut": "tipo, experiencia, sobre, contato",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        576,
        16
      ],
      "id": "37240c13-d952-4d68-8da6-82dc258a5b3f",
      "name": "Split Out"
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "CONCIERGE_RESERVA",
          "mode": "list",
          "cachedResultName": "CONCIERGE_RESERVA"
        },
        "returnAll": true,
        "where": {
          "values": [
            {
              "column": "unidade",
              "value": "={{ $json.unidade .trim()}}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.5,
      "position": [
        192,
        16
      ],
      "id": "f396f73e-f494-405e-a7ba-aeb18a7b4105",
      "name": "buscar_infos_concierge",
      "credentials": {
        "mySql": {
          "id": "A112kZvtWASH5sMG",
          "name": "MARCIO_HOTEL"
        }
      }
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "SERVIÇOS",
          "mode": "list",
          "cachedResultName": "SERVIÇOS"
        },
        "returnAll": true,
        "where": {
          "values": [
            {
              "column": "Unidade",
              "value": "={{ $json.unidade .trim()}}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.5,
      "position": [
        192,
        176
      ],
      "id": "f9dff34a-5910-42dd-b531-5d601386c2fd",
      "name": "buscar_infos_servicos",
      "credentials": {
        "mySql": {
          "id": "A112kZvtWASH5sMG",
          "name": "MARCIO_HOTEL"
        }
      }
    },
    {
      "parameters": {
        "fieldToSplitOut": "Tipo, Experiencias, Sobre, Contato",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        576,
        176
      ],
      "id": "a7058ca6-bb48-4aba-bc58-64aed8ef9569",
      "name": "Split Out1"
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "FAQ",
          "mode": "list",
          "cachedResultName": "FAQ"
        },
        "returnAll": true,
        "where": {
          "values": [
            {
              "column": "Unidade",
              "value": "={{ $json.unidade .trim()}}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.5,
      "position": [
        192,
        -144
      ],
      "id": "7cacd5d5-27ae-403d-8696-0ac929102e77",
      "name": "buscar_faq",
      "credentials": {
        "mySql": {
          "id": "A112kZvtWASH5sMG",
          "name": "MARCIO_HOTEL"
        }
      }
    },
    {
      "parameters": {
        "fieldToSplitOut": "Pergunta, Resposta, Link, tipoDePergunta",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        752,
        -224
      ],
      "id": "af2302af-57cb-404e-bcce-b0c8549996c7",
      "name": "Split Out2"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1MEjtXSQG_5yBgBMaYMjl71H6wnH79RjLpwDByQF_fr0",
          "mode": "list",
          "cachedResultName": "HOTEIS RESERVA",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1MEjtXSQG_5yBgBMaYMjl71H6wnH79RjLpwDByQF_fr0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 156938836,
          "mode": "list",
          "cachedResultName": "CONCIERGE RESERVA",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1MEjtXSQG_5yBgBMaYMjl71H6wnH79RjLpwDByQF_fr0/edit#gid=156938836"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        352,
        816
      ],
      "id": "3021ee86-412e-402d-b29b-b629c5169921",
      "name": "buscar infos concierge",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "oFG5YEA8OHQqWcpH",
          "name": "RAFAEL - SHEETS"
        }
      }
    },
    {
      "parameters": {
        "table": {
          "__rl": true,
          "value": "CONCIERGE_RESERVA",
          "mode": "list",
          "cachedResultName": "CONCIERGE_RESERVA"
        },
        "dataMode": "defineBelow",
        "valuesToSend": {
          "values": [
            {
              "column": "unidade",
              "value": "={{ $json.Unidade }}"
            },
            {
              "column": "tipo",
              "value": "={{ $json.Tipo }}"
            },
            {
              "column": "experiencia",
              "value": "={{ $json[\"Experiências\"] }}"
            },
            {
              "column": "sobre",
              "value": "={{ $json.Sobre }}"
            },
            {
              "column": "contato",
              "value": "={{ $json.Contato }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.5,
      "position": [
        560,
        816
      ],
      "id": "ed018047-b225-44cd-a329-ccad5e0810c6",
      "name": "insere_infos_concierge",
      "credentials": {
        "mySql": {
          "id": "A112kZvtWASH5sMG",
          "name": "MARCIO_HOTEL"
        }
      }
    },
    {
      "parameters": {
        "operation": "deleteTable",
        "table": {
          "__rl": true,
          "value": "CONCIERGE_RESERVA",
          "mode": "list",
          "cachedResultName": "CONCIERGE_RESERVA"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.5,
      "position": [
        144,
        816
      ],
      "id": "4e68f588-7ec8-45af-ac9e-62ccae78ec50",
      "name": "deleta_infos_concierge",
      "credentials": {
        "mySql": {
          "id": "A112kZvtWASH5sMG",
          "name": "MARCIO_HOTEL"
        }
      }
    },
    {
      "parameters": {
        "operation": "deleteTable",
        "table": {
          "__rl": true,
          "value": "SERVIÇOS",
          "mode": "list",
          "cachedResultName": "SERVIÇOS"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.5,
      "position": [
        144,
        1024
      ],
      "id": "691c3fc2-d90b-4e33-bec5-0cf9b251b4fb",
      "name": "deleta_infos_serviços",
      "credentials": {
        "mySql": {
          "id": "A112kZvtWASH5sMG",
          "name": "MARCIO_HOTEL"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1MEjtXSQG_5yBgBMaYMjl71H6wnH79RjLpwDByQF_fr0",
          "mode": "list",
          "cachedResultName": "HOTEIS RESERVA",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1MEjtXSQG_5yBgBMaYMjl71H6wnH79RjLpwDByQF_fr0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 776675786,
          "mode": "list",
          "cachedResultName": "SERVIÇOS",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1MEjtXSQG_5yBgBMaYMjl71H6wnH79RjLpwDByQF_fr0/edit#gid=776675786"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        352,
        1024
      ],
      "id": "fbc4d253-42be-48fd-a46b-51f81ea91819",
      "name": "buscar infos serviços",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "oFG5YEA8OHQqWcpH",
          "name": "RAFAEL - SHEETS"
        }
      }
    },
    {
      "parameters": {
        "table": {
          "__rl": true,
          "value": "SERVIÇOS",
          "mode": "list",
          "cachedResultName": "SERVIÇOS"
        },
        "dataMode": "defineBelow",
        "valuesToSend": {
          "values": [
            {
              "column": "Unidade",
              "value": "={{ $json.Unidade }}"
            },
            {
              "column": "Tipo",
              "value": "={{ $json.Tipo }}"
            },
            {
              "column": "Experiencias",
              "value": "={{ $json[\"Experiências\"] }}"
            },
            {
              "column": "Sobre",
              "value": "={{ $json.Sobre }}"
            },
            {
              "column": "Contato",
              "value": "={{ $json.Contato }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.5,
      "position": [
        560,
        1024
      ],
      "id": "0dc4fc01-b097-432f-8b40-ca11f7b44645",
      "name": "insere_infos_servicos",
      "credentials": {
        "mySql": {
          "id": "A112kZvtWASH5sMG",
          "name": "MARCIO_HOTEL"
        }
      }
    },
    {
      "parameters": {
        "operation": "deleteTable",
        "table": {
          "__rl": true,
          "value": "FAQ",
          "mode": "list",
          "cachedResultName": "FAQ"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.5,
      "position": [
        144,
        1200
      ],
      "id": "4a8474c6-d2b8-4362-ba68-26430b85eff7",
      "name": "deleta_infos_faq",
      "credentials": {
        "mySql": {
          "id": "A112kZvtWASH5sMG",
          "name": "MARCIO_HOTEL"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1MEjtXSQG_5yBgBMaYMjl71H6wnH79RjLpwDByQF_fr0",
          "mode": "list",
          "cachedResultName": "HOTEIS RESERVA",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1MEjtXSQG_5yBgBMaYMjl71H6wnH79RjLpwDByQF_fr0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1837731783,
          "mode": "list",
          "cachedResultName": "NEW FAQ",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1MEjtXSQG_5yBgBMaYMjl71H6wnH79RjLpwDByQF_fr0/edit#gid=1837731783"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        352,
        1200
      ],
      "id": "b184b499-01a4-4c12-a8b9-bac33aae1824",
      "name": "buscar infos faq",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "oFG5YEA8OHQqWcpH",
          "name": "RAFAEL - SHEETS"
        }
      }
    },
    {
      "parameters": {
        "table": {
          "__rl": true,
          "value": "FAQ",
          "mode": "list",
          "cachedResultName": "FAQ"
        },
        "dataMode": "defineBelow",
        "valuesToSend": {
          "values": [
            {
              "column": "Unidade",
              "value": "={{ $json.Unidade }}"
            },
            {
              "column": "tipoDePergunta",
              "value": "={{ $json[\"Tipo de Pergunta\"] }}"
            },
            {
              "column": "pergunta",
              "value": "={{ $json.Pergunta }}"
            },
            {
              "column": "resposta",
              "value": "={{ $json.Resposta }}"
            },
            {
              "column": "Link",
              "value": "={{ $json.Link }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.5,
      "position": [
        560,
        1200
      ],
      "id": "32300050-ac92-4b28-9ab2-80ab0864ab3c",
      "name": "insere_infos_faq",
      "credentials": {
        "mySql": {
          "id": "A112kZvtWASH5sMG",
          "name": "MARCIO_HOTEL"
        }
      }
    },
    {
      "parameters": {
        "sortFieldsUi": {
          "sortField": [
            {
              "fieldName": "Pergunta"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.sort",
      "typeVersion": 1,
      "position": [
        576,
        -224
      ],
      "id": "bd4b8649-33d0-4d45-91eb-5391942322e9",
      "name": "Sort"
    },
    {
      "parameters": {
        "sortFieldsUi": {
          "sortField": [
            {
              "fieldName": "tipo"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.sort",
      "typeVersion": 1,
      "position": [
        384,
        16
      ],
      "id": "b43d48fb-d640-4011-8348-55dc106034bf",
      "name": "Sort1"
    },
    {
      "parameters": {
        "sortFieldsUi": {
          "sortField": [
            {
              "fieldName": "Tipo"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.sort",
      "typeVersion": 1,
      "position": [
        384,
        176
      ],
      "id": "d0dd021e-32ee-418e-bcd8-60b23010989e",
      "name": "Sort2"
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "HOSPEDES",
          "mode": "list",
          "cachedResultName": "HOSPEDES"
        },
        "returnAll": true,
        "where": {
          "values": [
            {
              "column": "Unidade",
              "value": "={{ $json.unidade .trim()}}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.5,
      "position": [
        192,
        -304
      ],
      "id": "ebb2a4f9-82b1-48ff-9670-1850794367a8",
      "name": "buscar_faq_hospede",
      "credentials": {
        "mySql": {
          "id": "A112kZvtWASH5sMG",
          "name": "MARCIO_HOTEL"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        384,
        -224
      ],
      "id": "61e6650c-3ee8-478a-aceb-7dbfae614a91",
      "name": "Merge"
    },
    {
      "parameters": {
        "operation": "deleteTable",
        "table": {
          "__rl": true,
          "value": "HOSPEDES",
          "mode": "list",
          "cachedResultName": "HOSPEDES"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.5,
      "position": [
        144,
        1392
      ],
      "id": "5f6474c2-0a8b-472a-848a-4dab07ad9525",
      "name": "deleta_infos_faq_hospede",
      "credentials": {
        "mySql": {
          "id": "A112kZvtWASH5sMG",
          "name": "MARCIO_HOTEL"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1MEjtXSQG_5yBgBMaYMjl71H6wnH79RjLpwDByQF_fr0",
          "mode": "list",
          "cachedResultName": "HOTEIS RESERVA",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1MEjtXSQG_5yBgBMaYMjl71H6wnH79RjLpwDByQF_fr0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1733368859,
          "mode": "list",
          "cachedResultName": "HOSPEDES",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1MEjtXSQG_5yBgBMaYMjl71H6wnH79RjLpwDByQF_fr0/edit#gid=1733368859"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        352,
        1392
      ],
      "id": "89fa8b9f-5663-420f-9e5e-c80a2e4cd618",
      "name": "buscar infos faq_hospede",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "oFG5YEA8OHQqWcpH",
          "name": "RAFAEL - SHEETS"
        }
      }
    },
    {
      "parameters": {
        "table": {
          "__rl": true,
          "value": "HOSPEDES",
          "mode": "list",
          "cachedResultName": "HOSPEDES"
        },
        "dataMode": "defineBelow",
        "valuesToSend": {
          "values": [
            {
              "column": "Unidade",
              "value": "={{ $json.Unidade }}"
            },
            {
              "column": "Pergunta",
              "value": "={{ $json.Pergunta }}"
            },
            {
              "column": "Resposta",
              "value": "={{ $json.Resposta }}"
            },
            {
              "column": "Link",
              "value": "={{ $json.Link }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.5,
      "position": [
        560,
        1392
      ],
      "id": "be1ab570-ba6b-43cb-8391-2945d75207ae",
      "name": "insere_infos_faq_hospedes",
      "credentials": {
        "mySql": {
          "id": "A112kZvtWASH5sMG",
          "name": "MARCIO_HOTEL"
        }
      }
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "FAQ",
          "mode": "list",
          "cachedResultName": "FAQ"
        },
        "returnAll": true,
        "where": {
          "values": [
            {
              "column": "Unidade",
              "value": "={{ $json.unidade .trim()}}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.5,
      "position": [
        192,
        352
      ],
      "id": "da1e759f-f439-49d1-a40a-59519fed191f",
      "name": "buscar_faq1",
      "credentials": {
        "mySql": {
          "id": "A112kZvtWASH5sMG",
          "name": "MARCIO_HOTEL"
        }
      }
    },
    {
      "parameters": {
        "sortFieldsUi": {
          "sortField": [
            {
              "fieldName": "tipoDePergunta"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.sort",
      "typeVersion": 1,
      "position": [
        384,
        352
      ],
      "id": "672eed2d-c698-4ac8-922c-0d4f0d63c874",
      "name": "Sort3"
    },
    {
      "parameters": {
        "fieldToSplitOut": "tipoDePergunta, pergunta, resposta, Link",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        560,
        352
      ],
      "id": "575cceba-cea3-4be4-adf0-4722ce1c19c6",
      "name": "Split Out3"
    },
    {
      "parameters": {
        "operation": "deleteTable",
        "table": {
          "__rl": true,
          "value": "QUARTOS_GERAL",
          "mode": "list",
          "cachedResultName": "QUARTOS_GERAL"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.5,
      "position": [
        144,
        1600
      ],
      "id": "a7c45d52-d71c-4a1c-b50d-0b67374fcae3",
      "name": "deleta_infos_quartos",
      "credentials": {
        "mySql": {
          "id": "A112kZvtWASH5sMG",
          "name": "MARCIO_HOTEL"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1MEjtXSQG_5yBgBMaYMjl71H6wnH79RjLpwDByQF_fr0",
          "mode": "list",
          "cachedResultName": "HOTEIS RESERVA",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1MEjtXSQG_5yBgBMaYMjl71H6wnH79RjLpwDByQF_fr0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "QUARTOS",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1MEjtXSQG_5yBgBMaYMjl71H6wnH79RjLpwDByQF_fr0/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        352,
        1600
      ],
      "id": "e40dccc7-9402-4ba4-87f6-77bd1ea008f9",
      "name": "buscar infos quartos",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "oFG5YEA8OHQqWcpH",
          "name": "RAFAEL - SHEETS"
        }
      }
    },
    {
      "parameters": {
        "table": {
          "__rl": true,
          "value": "QUARTOS_GERAL",
          "mode": "list",
          "cachedResultName": "QUARTOS_GERAL"
        },
        "dataMode": "defineBelow",
        "valuesToSend": {
          "values": [
            {
              "column": "Unidade",
              "value": "={{ $json.Unidade }}"
            },
            {
              "column": "Categoria",
              "value": "={{ $json.Categoria }}"
            },
            {
              "column": "Tipo",
              "value": "={{ $json.Tipo }}"
            },
            {
              "column": "Capacidade",
              "value": "={{ $json.Capacidade }}"
            },
            {
              "column": "sobreCafe",
              "value": "={{ $json[\"Tem Café?\"] }}"
            },
            {
              "column": "checkIn",
              "value": "={{ $json[\"Check-in/Check-out\"] .split('/')[0]}}"
            },
            {
              "column": "checkOut",
              "value": "={{ $json[\"Check-in/Check-out\"] .split('/')[1]}}"
            },
            {
              "column": "PetFriendly",
              "value": "={{ $json.Petfriendly }}"
            },
            {
              "column": "Descrição",
              "value": "={{ $json[\"Descrição\"] }}"
            },
            {
              "column": "configuracaoCamas",
              "value": "={{ $json[\"Configuração de camas\"] }}"
            },
            {
              "column": "quartoParaFumantes",
              "value": "={{ $json[\"Quarto para fumantes\"] }}"
            },
            {
              "column": "linkImage",
              "value": "={{ $json.Foto }}"
            },
            {
              "column": "linkReserva",
              "value": "={{ $json[\"Link Reserva\"] }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.5,
      "position": [
        560,
        1600
      ],
      "id": "b948aa5a-1623-4495-b151-e4ab9854327a",
      "name": "insere quartos",
      "credentials": {
        "mySql": {
          "id": "A112kZvtWASH5sMG",
          "name": "MARCIO_HOTEL"
        }
      }
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "QUARTOS_GERAL",
          "mode": "list",
          "cachedResultName": "QUARTOS_GERAL"
        },
        "returnAll": true,
        "where": {
          "values": [
            {
              "column": "Unidade",
              "value": "={{ $json.unidade .trim()}}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.5,
      "position": [
        192,
        512
      ],
      "id": "70bb4a4c-8f6c-4125-b0a6-eecd8e0e8677",
      "name": "buscar_quartos",
      "credentials": {
        "mySql": {
          "id": "A112kZvtWASH5sMG",
          "name": "MARCIO_HOTEL"
        }
      }
    },
    {
      "parameters": {
        "sortFieldsUi": {
          "sortField": [
            {
              "fieldName": "Capacidade"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.sort",
      "typeVersion": 1,
      "position": [
        384,
        512
      ],
      "id": "b5e4122e-ee30-4adf-90e5-9addc00ccdf0",
      "name": "Sort4"
    },
    {
      "parameters": {
        "fieldToSplitOut": "Categoria, Tipo, Capacidade, sobreCafe, checkIn, checkOut, PetFriendly, [\"Descrição\"], configuracaoCamas, quartoParaFumantes",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        560,
        512
      ],
      "id": "534a6bdb-655b-4683-ad93-139cc32bf38d",
      "name": "Split Out4"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {},
            {
              "triggerAtHour": 12
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -208,
        1200
      ],
      "id": "9b0f75cb-8adc-40b3-b48f-6862203a9d5c",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "operation": "deleteTable",
        "table": {
          "__rl": true,
          "value": "carroseis_individuais",
          "mode": "list",
          "cachedResultName": "carroseis_individuais"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.5,
      "position": [
        144,
        1792
      ],
      "id": "37adf4c1-9f7b-4516-a98c-2dea0863e218",
      "name": "deleta_infos_carrossel_individual",
      "credentials": {
        "mySql": {
          "id": "A112kZvtWASH5sMG",
          "name": "MARCIO_HOTEL"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1MEjtXSQG_5yBgBMaYMjl71H6wnH79RjLpwDByQF_fr0",
          "mode": "list",
          "cachedResultName": "HOTEIS RESERVA",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1MEjtXSQG_5yBgBMaYMjl71H6wnH79RjLpwDByQF_fr0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 799413972,
          "mode": "list",
          "cachedResultName": "CARROSSEIS",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1MEjtXSQG_5yBgBMaYMjl71H6wnH79RjLpwDByQF_fr0/edit#gid=799413972"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        352,
        1792
      ],
      "id": "710de9fd-d7bf-43b6-addf-dd72609779f6",
      "name": "buscar infos carrossel",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "oFG5YEA8OHQqWcpH",
          "name": "RAFAEL - SHEETS"
        }
      }
    },
    {
      "parameters": {
        "table": {
          "__rl": true,
          "value": "carroseis_individuais",
          "mode": "list",
          "cachedResultName": "carroseis_individuais"
        },
        "dataMode": "defineBelow",
        "valuesToSend": {
          "values": [
            {
              "column": "Unidade",
              "value": "={{ $json.Unidade }}"
            },
            {
              "column": "Categoria",
              "value": "={{ $json['Nome Exibição']\n    .toLowerCase()\n    .replace(/su[ií]te/gi, '')\n    .replace(/cabana/gi, '')\n    .replace(/bangal[ôo]/gi, '')\n    .replace(/varanda\\s+com\\s+hidro/gi, 'varanda_c_hidro')\n    .replace(/\\s+/g, '_')\n    .trim()\n}}"
            },
            {
              "column": "Nome Exibição",
              "value": "={{ $json['Nome Exibição'] }}"
            },
            {
              "column": "Foto_1",
              "value": "={{ $json.Foto_1 }}"
            },
            {
              "column": "Foto_2",
              "value": "={{ $json.Foto_2 }}"
            },
            {
              "column": "Foto_3",
              "value": "={{ $json.Foto_3 }}"
            },
            {
              "column": "Foto_4",
              "value": "={{ $json.Foto_4 }}"
            },
            {
              "column": "Foto_5",
              "value": "={{ $json.Foto_5 }}"
            },
            {
              "column": "Link_Reserva",
              "value": "={{ $json.Link_Reserva }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.5,
      "position": [
        560,
        1792
      ],
      "id": "dfee57f4-fcfa-4880-a42b-1790b04aff1a",
      "name": "insere carrosseis",
      "credentials": {
        "mySql": {
          "id": "A112kZvtWASH5sMG",
          "name": "MARCIO_HOTEL"
        }
      }
    }
  ],
  "pinData": {
    "When Executed by Another Workflow": [
      {
        "json": {
          "funcao": "quartos",
          "unidade": "ILHABELA\n"
        }
      }
    ]
  },
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "buscar_faq",
            "type": "main",
            "index": 0
          },
          {
            "node": "buscar_faq_hospede",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "buscar_infos_concierge",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "buscar_infos_servicos",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "buscar_faq1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "buscar_quartos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "buscar_infos_concierge": {
      "main": [
        [
          {
            "node": "Sort1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "buscar_infos_servicos": {
      "main": [
        [
          {
            "node": "Sort2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "buscar_faq": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "buscar infos concierge": {
      "main": [
        [
          {
            "node": "insere_infos_concierge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "deleta_infos_concierge": {
      "main": [
        [
          {
            "node": "buscar infos concierge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "deleta_infos_serviços": {
      "main": [
        [
          {
            "node": "buscar infos serviços",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "buscar infos serviços": {
      "main": [
        [
          {
            "node": "insere_infos_servicos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "deleta_infos_faq": {
      "main": [
        [
          {
            "node": "buscar infos faq",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "buscar infos faq": {
      "main": [
        [
          {
            "node": "insere_infos_faq",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sort": {
      "main": [
        [
          {
            "node": "Split Out2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sort1": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sort2": {
      "main": [
        [
          {
            "node": "Split Out1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "buscar_faq_hospede": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Sort",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "deleta_infos_faq_hospede": {
      "main": [
        [
          {
            "node": "buscar infos faq_hospede",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "buscar infos faq_hospede": {
      "main": [
        [
          {
            "node": "insere_infos_faq_hospedes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "buscar_faq1": {
      "main": [
        [
          {
            "node": "Sort3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sort3": {
      "main": [
        [
          {
            "node": "Split Out3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "deleta_infos_quartos": {
      "main": [
        [
          {
            "node": "buscar infos quartos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "buscar infos quartos": {
      "main": [
        [
          {
            "node": "insere quartos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "buscar_quartos": {
      "main": [
        [
          {
            "node": "Sort4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sort4": {
      "main": [
        [
          {
            "node": "Split Out4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "deleta_infos_concierge",
            "type": "main",
            "index": 0
          },
          {
            "node": "deleta_infos_serviços",
            "type": "main",
            "index": 0
          },
          {
            "node": "deleta_infos_faq",
            "type": "main",
            "index": 0
          },
          {
            "node": "deleta_infos_faq_hospede",
            "type": "main",
            "index": 0
          },
          {
            "node": "deleta_infos_quartos",
            "type": "main",
            "index": 0
          },
          {
            "node": "deleta_infos_carrossel_individual",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "deleta_infos_carrossel_individual": {
      "main": [
        [
          {
            "node": "buscar infos carrossel",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "buscar infos carrossel": {
      "main": [
        [
          {
            "node": "insere carrosseis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "f79a81b8-e0e7-419f-a84e-5a2d5c3e94f1",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "33032ef6031266b8bc0d76b06793a6cdb5fab704b174a9882769b60050692f00"
  },
  "id": "HFr3c4LiF7tU54Ko",
  "tags": []
}